@import './_variables'

@keyframes col-rotate
    0%
        stroke-dasharray: 5
        stroke-width: 2
    50%
        stroke-dasharray: 15
        stroke-width: 6
    100%
        stroke-dasharray: 5
        stroke-width: 2

@keyframes col-giggle
    0%
        box-shadow: $elevation
        transform: translateX(-.5rem)
    50%
        box-shadow: $elevation2
        transform: translateX(.5rem)
    100%
        box-shadow: $elevation
        transform: translateX(-.5rem)

@keyframes col-loading
    0%
        width: 10%
        left: 0
    
    20% 
        width: 70%
        left: 20%
    
    100%
        width: 10%
        left: 100%
