.colvis-message
    padding: .25rem
    color: white
    background-color: blue

    &--error
        background-color: #ff5252
    &--warning
        background-color: yellow
    &--success
        background-color: green    

    &__header
        display: flex