.fade-enter-active, .fade-leave-active
    transition: opacity .2s

.fade-enter, .fade-leave-to
    opacity: 0

.scrolldown-enter-active, .scrolldown-leave-active
    transition: all .2s

.scrolldown-enter, .scrolldown-leave
    max-height: 0
    overflow: hidden

.slide-fade-down-enter-active
    transition: all .3s ease

.slide-fade-down-leave-active
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-down-enter, .slide-fade-down-leave-to
    transform: translateY(-10px)
    opacity: 0