@use "sass:map"

$colors: ( "blue": #009bf9, "red": #ff009b, "red--error": #ff5252, "yellow": #ffb300, "green": #74b153, "grey": #CFCFCF, "colvis-grey": rgb(97, 105, 121) )
$variations: ("light": (function: lighten, parameters: 15%), "dark": (function: darken, parameters: 15%), "darker": (function: darken, parameters: 30%))

$selectors: ( "blue": #009bf9, "red": #ff009b, "yellow": #ffb300, "green": #74b153, "grey": #CFCFCF )

$texts: ( "dark": rgb(255,255,255), "light": rgba(0,0,0) )
$backgrounds: ( "dark": rgb(0,0,0), "light": rgb(225,225,225), "dark--toolbar": rgb(50,50,50), "light--toolbar": rgb(200, 200, 200) )

@function selectorColor($color: "red")
    @if map-has-key($selectors, $color)
        @return map-get($selectors, $color)
    @else
        @error "Invalid $color: #{$color}"
@function sc($color)
    @return selectorColor($color)

@function backgroundColor($theme, $style: null)
    $color: rgb(0,0,0)
    @if $style
        @if map-has-key($backgrounds, $theme+'--'+$style)
            $color: map-get($backgrounds, $theme+'--'+$style)
        @else
            @error "Invalid combination of $theme and $style: `#{$theme} and #{$style}`"
    @else
        @if map-has-key($backgrounds, $theme)
            $color: map-get($backgrounds, $theme)
        @else
            @error "Invalid $theme: `#{$theme}`"
    @return $color
@function bc($theme, $style: null)
    @return backgroundColor($theme, $style)


@function colvisColor($color, $variation: false)
    @if map-has-key($colors, $color)
        $color: map-get($colors, $color)
    @else
        @if type-of($color) != color
            @error "Invalid color name: `#{$color}`."

    @if $variation
        @if not map-has-key($variations, $variation)
            @error "Invalid $variation: `#{$variation}`."
        @else
            $this-variation: map-get($variations, $variation)
            $args: join(map-get($this-variation, function), $color)
            @if map-get($this-variation, parameters)
                $args: join($args, map-get($this-variation, parameters))
            @return call($args...)
    @return $color
@function cc($color, $variation: false)
    @return colvisColor($color, $variation)

$elevation: 1px 2px 2px -1px rgba(0, 0, 0, .2), -1px 2px 2px -1px rgba(0, 0, 0, .2)
$elevation2: 2px 3px 3px -1px rgba(0, 0, 0, .2), -2px 3px 3px -1px rgba(0, 0, 0, .2)


$background--dark: rgb(50,50,50)
$background--light: rgb(200,200,200)
$contrast: rgb(205, 205, 205)


=container($theme)
    background-color: rgba(backgroundColor($theme), .8)
    backdrop-filter: blur(10px)

=toolbar($theme)
    display: flex
    justify-content: space-between
    height: 64px
    padding: 1rem
    background-color: rgba(backgroundColor($theme, 'toolbar'), .5)
    border-bottom: 1px solid $contrast
    // color: $contrast

=field-set
    border: 0
    margin-bottom: 1rem

=field
    background: rgba(255, 255, 255, .8)
    border-radius: 5px
    padding: .5rem
    display: block
    width: 100%

=hint
    color: rgba(0, 0, 0, .5)

=spacer
    flex: 1