<template lang="pug">
    form(ref="boxForm" @submit.prevent="submit")
        c-message(v-model="colvisEvent")
        div.stepper(v-if="structured" v-model="step")
            div.stepper__step(@click="step = 1" :class="{ active: step === 1 }")
                header.stepper__step__head.actionable
                    span ① What are you talking about?
                    c-icon(type="success" message="Step completed" v-show="selectedSubjects.length") ✅️
                    c-icon(type="error" message="Mandatory step" v-show="!selectedSubjects.length && step > 1") ⚠️
                div.stepper__step__content(v-show="step === 1")
                    small(v-if="$colvis.hasSelector()") You can select data from the selector box over your visualization.
                    c-autocomplete(
                        id="subject"
                        v-if="$colvis.hasAutocomplete()"
                        label="Subjects"
                        :items="$colvis.getAnnotables()"
                        :value="selectedSubjects"
                        @input="$emit('boxSubjectSelection', $event)"
                    )
                    transition(name="slide-down-fade")
                        c-groupname(v-if="selectedSubjects.length > 1" id="subject-name" v-model="subjectName" :selection="selectedSubjects")
                    c-suggestion(v-if="subjectSuggestions.length" :suggestions="subjectSuggestions" @choose="chooseSuggestion($event, 'subject')")
            div.stepper__step(@click="step = 2" :class="{ active: step === 2 }") 
                header.stepper__step__head.actionable
                    span ② What makes the subjects relevant?
                    c-icon(type="success" message="Step completed" v-show="reason.verb || reason.details") ✅️
                    c-icon(type="error" message="Mandatory step" v-show="!reason.verb && !reason.details && step > 2") ⚠️
                div.stepper__step__content(v-show="step === 2")
                    c-dialog(
                        :entities="$colvis.getEntities()"
                        :subject="selectedSubjects"
                        :complement="selectedComplements"
                        :combinations="$colvis.getSpecs().combinations"
                        :isGenerality="isGenerality"
                        @selection="reason = $event"
                    )
            div.stepper__step(v-if="!isGenerality" @click="step = 3" :class="{ active: step === 3 }") 
                header.stepper__step__head.actionable
                    span ③ Do you compare subjects to other data?
                    c-icon(type="success" message="Step completed" v-show="selectedComplements.length") ✅️
                div.stepper__step__content(v-show="step === 3")
                    small(v-if="$colvis.hasSelector()") You can select data from the selector box over your visualization.
                    c-autocomplete(
                        id="complement"
                        v-if="$colvis.hasAutocomplete()"
                        label="Complements"
                        :items="$colvis.getAnnotables()"
                        :value="selectedComplements"
                        @input="$emit('boxComplementSelection', $event)"
                    )
                    transition(name="slide-down-fade")
                        c-groupname(id="complement-name" v-if="selectedComplements.length > 1" v-model="complementName" :selection="selectedComplements")
                    c-suggestion(v-if="complementSuggestions.length" :suggestions="complementSuggestions" @choose="chooseSuggestion($event, 'complement')")
            div.stepper__step(@click="step = 4" :class="{ active: step === 4 }") 
                header.stepper__step__head.actionable
                    span ④ What do you infer from this observation?
                    c-icon(type="success" message="Step completed" v-show="conclusion") ✅️
                div.stepper__step__content(v-show="step === 4")
                    textarea.textarea(label="Conclusion" v-model="conclusion" placeholder="It seems that...")
                    c-combobox(label="Tags" v-model="tags" placeholder="myItems, generalObservation, etc..." hint="You can tag your annotation to make it easier to retrieve. To use several tags, separate them by typing space, enter or comma." :items="previousTags")
        div.form-submit
            button.btn(v-show="theAnnotation" @click.prevent="preview = !preview") {{ preview ? 'Hide preview' : 'Preview' }}
            button.btn.btn-main(type="submit") Submit
        div.stepper
            div.stepper__step.preview(v-if="theAnnotation && preview")
                header.stepper__step__head
                    span Preview
                    small how your annotation looks so far
                div.stepper__step__content(v-if="theAnnotation")
                    c-text(:annotation="theAnnotation")
</template>

<script>
import { Annotation, RawAnnotation } from '@/models';
import ColvisMessage from '../../models/ColvisMessage';
import CAutocomplete from '../_inputs/CAutocomplete.vue';
import CSuggestion from '../_inputs/CSuggestion.vue';
import CCombobox from '../_inputs/CCombobox.vue';
import CDialog from '../_inputs/CDialog.vue';
import CGroupname from '../_inputs/CGroupname.vue';
import CMessage from '../_generic/CMessage.vue';
import CIcon from '../_generic/CIcon.vue';
import CText from '@/components/Retrieval/CText.vue';

function initialState () {
    /** Whether the current annotation should be structured */
    const structured = true;
    /** Current step of the annotation process */
    const step = 1;
    /** The conclusion / free annotation */
    const conclusion = '';
    /** The verb (will be replaced) */
    const reason = {
        verb: '',
        details: ''
    };
    /** Tags associated with the annotation */
    const tags = [];
    /** @type Boolean Colvis message */
    const colvisEvent = null;
    const subjectName = null;
    const complementName = null;

    const subjectSuggestions = [];
    const complementSuggestions = [];
    const preview = false;

    return {
        structured, step, conclusion, reason, tags, colvisEvent, subjectName, complementName, subjectSuggestions, complementSuggestions, preview
    }
}

/**
 * Create a new Box.
 * Boxes allow analysts to enter their annotation.
 */
export default {
    components: { CAutocomplete, CCombobox, CSuggestion, CGroupname, CDialog, CMessage, CIcon, CText },
    props: {
        /** The list of selected subjects */
        selectedSubjects: { type: Array, default: () => [] },
        /** The list of selected components */
        selectedComplements: { type: Array, default: () => [] },
        /** The list of existing units in the backend's database */
        previousUnits: { type: Array, default: () => []},
        /** The list of existing tags in the backend's database */
        previousTags: { type: Array, default: () => [] },
        selectionMethods: { type: Array, default: () => [] },
        replyTo: { type: Object },
        replyType: { type: String },
        unitToRestore: { type: Object }
    },
    data () {
        return initialState();
    },
    computed: {
        /** @returns {RawAnnotation} the raw, temporary annotation */
        theRawAnnotation() {
            const { selectedSubjects, selectedComplements, reason, conclusion, tags, selectionMethods, subjectName, complementName, replyTo, replyType } = this;
            return new RawAnnotation({
                subjects: selectedSubjects,
                complements: selectedComplements,
                meaning: conclusion,
                specs: this.$colvis.getSpecs(),
                ci: this.$colvis,
                reason, selectionMethods, tags, subjectName, complementName, replyTo: replyTo?.id, replyType
            });
        },
        /** @returns {Annotation|Boolean} the annotation */
        theAnnotation() {
            if (this.selectedSubjects.length && (this.reason.verb || this.reason.details)) {
                return new Annotation({ rawAnnotation: this.theRawAnnotation, specs: this.$colvis.getSpecs() });
            } else return null;
        },
        /**
         * Whether the annotation being currently written is a Generality. 
         * @returns {Boolean}
         */
        isGenerality () {
            return this.selectedSubjects.length / this.$colvis.getEntities().length > 0.8;
        }
    },
    methods: {
        submit() {
            if (this.theAnnotation) {
                this.theAnnotation.setMeta(this.$colvis);
                // this.theAnnotation.deleteNullsProps();
                this.$emit('submittingAnnotation', this.theAnnotation);
                Object.assign(this.$data, initialState());
            } else {
                this.colvisEvent = new ColvisMessage('error', 'Please make sure you fill at least all mandatory steps (1 and 2) before submitting the annotation.');
            }
        },
        checkSelection (pool, suggestions) {
            suggestions.splice(0, suggestions.length);
            this.previousUnits.forEach(u => {
                if (!u.aggregated || !u.title || !u.units) return;
                const prevIds = u.units.map(s => s.id);
                const curIds = pool.map(s => s.id);
                const matches = prevIds.reduce((p, c) => p + curIds.includes(c), 0);
                const matchRatio = matches / Math.max(prevIds.length, curIds.length)
                if (matchRatio === 1 && u.title == this.subjectName) {
                    console.log('similar data unit');
                }
                else if (matchRatio > .8) {
                    suggestions.push({ unit: u, matchRatio })
                }
            })
        },
        checkName (name, pool, suggestions) {
            suggestions.splice(0, suggestions.length);
            this.previousUnits.forEach(u => {
                if (!u.aggregated || !u.title || !u.units) return;
                if (u.title.toLowerCase().includes(name.toLowerCase())) {
                    const prevIds = u.units.map(s => s.id);
                    const curIds = pool.map(s => s.id);
                    const matches = prevIds.reduce((p, c) => p + curIds.includes(c), 0);
                    const matchRatio = matches / Math.max(prevIds.length, curIds.length)
                    if (matchRatio === 1 && u.title == this.subjectName) {
                        console.log('similar data unit');
                    } else suggestions.push({ unit: u, text: true, matchRatio })
                }
            })
        },
        chooseSuggestion (unit, pool) {
            if (pool === 'subject') {
                this.$emit('boxSubjectSelection', unit.units);
                this.subjectName = unit.title;
                this.subjectSuggestions = [];
            } else {
                this.$emit('boxComplementSelection', unit.units);
                this.complementName = unit.title;
                this.complementSuggestions = [];
            }
        
        }
    },
    watch: {
        step() {
            this.$emit('stepChanged', this.step);
        },
        selectedSubjects() {
            this.checkSelection (this.selectedSubjects, this.subjectSuggestions);
        },
        subjectName() {
            if (this.subjectName && this.subjectName.length > 3) { 
                this.checkName(this.subjectName, this.selectedSubjects, this.subjectSuggestions);
            } else this.subjectSuggestions = [];
        },
        selectedComplements() {
            this.checkSelection (this.selectedComplements, this.complementSuggestions);
        },
        complementName() {
            if (this.complementName && this.complementName.length > 3) { 
                this.checkName(this.complementName, this.selectedComplements, this.complementSuggestions);
            } else this.complementSuggestions = [];
        },
        unitToRestore() {
            if (this.unitToRestore && (this.step === 1 || this.step === 3)) {
                const ids = this.unitToRestore.aggregated ? this.unitToRestore.units.map(u => u.id) : [ this.unitToRestore.id ];
                const items = this.$colvis.getAnnotables();
                if(this.step === 1) {
                    this.$emit('boxSubjectSelection', items.filter(i => ids.includes(i.id)));
                    if (this.unitToRestore.aggregated) { this.subjectName = this.unitToRestore.title;}
                } else if (this.step === 3) {
                    this.$emit('boxComplementSelection', items.filter(i => ids.includes(i.id)));
                    if (this.unitToRestore.aggregated) this.complementName = this.unitToRestore.title;
                };
            }
            this.$emit('unitRestored');
        }
    }
}
</script>

<style lang="sass">
@import '../../assets/styles/generic/_variables'
@import '../../assets/styles/generic/_transitions'

.btn
    padding: .25rem 1rem
    border-radius: 15px

    &:hover
        filter: brightness(1.2)

    &.btn-main
        color: white
        background: cc("blue")

.stepper
    height: max-content
    position: relative
    scroll-behavior: smooth
    overflow-x: hidden
    overflow-y: auto
    padding: 0 1rem
    margin-top: 1rem

    &__step
        background: rgba(255, 255, 255, .3)
        backdrop-filter: blur(10px)
        border-radius: 5px
        margin: 1rem 0
        opacity: .5
        transition: all .2s ease-in-out

        &.active, &.preview
            background: rgba(255, 255, 255, .5)
            opacity: 1
            margin: 1rem -.5rem
            box-shadow: $elevation

        &__head
            position: sticky
            top: -1px
            background: rgba(255, 255, 255, .5)
            padding: .5rem
            border-radius: 5px 5px 0 0
            display: flex
            justify-content: space-between
            align-items: center

            &.actionable:hover
                cursor: pointer
                filter: brightness(1.2)

            span
                text-transform: uppercase
        
        &__content
            padding: .5rem

.form-submit
    height: 8vh
    display: flex
    justify-content: space-around
    align-items: center

.textarea
    background: rgba(255, 255, 255, .8)
    width: 100%
    border-radius: 5px
    padding: .5rem
</style>