<template lang="pug">
    form(ref="freeForm" @submit.prevent="submit")
        // c-message(v-model="colvisEvent")
        div.free
            div.free__main
                header.free__main__head.actionable
                    span {{ replyTo ? 'Reply' : 'Annotate' }}
                div.free__main__content
                    textarea.textarea(label="Annotation" v-model="annotation" placeholder="It seems that...")
                    c-combobox(label="Tags" v-model="tags" placeholder="myItems, generalObservation, etc..." hint="You can tag your annotation to make it easier to retrieve. To use several tags, separate them by typing space, enter or comma." :items="previousTags")
        div.form-submit: button.btn.btn-main(type="submit") Submit
</template>

<script>
import CMessage from '../../models/ColvisMessage';
import CCombobox from '../_inputs/CCombobox.vue';
import FreeAnnotation from '../../models/Annotation/Free';

function initialState () {
    const colvisEvent = null;
    const annotation = null;
    const tags = [];
    return { colvisEvent, annotation, tags }
}

export default {
    components: { CMessage, CCombobox },
    props: {
        /** The list of existing tags in the backend's database */
        previousTags: { type: Array, default: () => [] },
        replyTo: { type: Object },
        replyType: { type: String },
    },
    data () {
        return new initialState();
    },
    methods: {
        submit () {
            const annotation = new FreeAnnotation({ annotation: this.annotation, tags: this.tags, replyTo: this.replyTo, replyType: this.replyType, ci: this.$colvis })
            this.$emit('submittingAnnotation', annotation);
            Object.assign(this.$data, initialState());
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'
@import '../../assets/styles/generic/_transitions'

.free
    height: max-content
    position: relative
    scroll-behavior: smooth
    overflow-x: hidden
    overflow-y: auto
    padding: 0 1rem
    margin-top: 1rem

    &__main
        backdrop-filter: blur(10px)
        border-radius: 5px
        transition: all .2s ease-in-out
        background: rgba(255, 255, 255, .5)
        margin: 1rem -.5rem
        box-shadow: $elevation

        &__head
            position: sticky
            top: -1px
            background: rgba(255, 255, 255, .5)
            padding: .5rem
            border-radius: 5px 5px 0 0
            display: flex
            justify-content: space-between
            align-items: center

            &.actionable:hover
                cursor: pointer
                filter: brightness(1.2)

            span
                text-transform: uppercase
        
        &__content
            padding: .5rem

.form-submit
    height: 8vh
    display: flex
    justify-content: space-around
    align-items: center

.textarea
    background: rgba(255, 255, 255, .8)
    width: 100%
    border-radius: 5px
    padding: .5rem

</style>