<template lang="pug">
    section.col-input-main(v-if="$colvis.isInit()" :class="{ 'c-dark': $colvis.getOptions().theme === 'dark', 'c-light': $colvis.getOptions().theme === 'light' }")
        col-input-selector(
            v-show="annotating || !!replyTo" 
            :init="$colvis.isInit()" :offsetTop="offsetTop" :free="free"
            :selectedSubjects="selectedSubjects" :selectedComplements="selectedComplements" :step="step"
            @subjectSelection="selectElementsBySelector($event)" @complementSelection="selectElementsBySelector($event, 'complement')"
        )
        col-input-overlay(
            :annotating="annotating || !!replyTo" :previousTags="previousTags" :previousUnits="previousUnits"
            :selectedSubjects="selectedSubjects" :selectedComplements="selectedComplements"
            :selectionMethods="selectionMethods" :loading="loading" :free="free" :replyTo="replyTo"
            @close="$emit('close')" @stepChanged="step = $event" @boxSubjectSelection="selectElementsByBox($event)"
            @boxComplementSelection="selectElementsByBox($event, 'complement')" @submittingAnnotation="submit"
            @free="free = $event" @stopReplying="$emit('stopReplying')"
        )
</template>

<script>
import ColInputSelector from '@/components/Input/Selector.vue';
import ColInputOverlay from '@/components/Input/Overlay.vue';

import { checkIfSelected, enforceUniqueId, ensureNotPresent } from '@/assets/utils';

function initialState () {
    /** The list of selected subjects */
    const selectedSubjects = [];
    /** The list of selected components */
    const selectedComplements = [];
    /** The current step of the annotation */
    const step = 1;
    /** The type of selections */
    const selectionMethods = [];
    /** Whether a free annotation is being taken */
    const free = false;

    return { selectedSubjects, selectedComplements, selectionMethods, step, free };
}
/**
 * Create a new Colvis.
 * This component manages all data and communication between
 * the other subcomponents (chiefly, the Selector and the Overlay).
 */
export default {
    components: { ColInputOverlay, ColInputSelector },
    props: {
        /** Whether the user is annotating the visualization */
        annotating: { type: Boolean, default: false },
        /** Whether to use the dark theme for the Vuetify's components */
        dark: { type: Boolean, default: false },
        /** The list of existing units in the backend's database */
        previousUnits: { type: Array, default: () => []},
        /** The list of existing tags in the backend's database */
        previousTags: { type: Array, default: () => [] },
        /** Whether the parent is loading data */
        loading: { type: Boolean, default: false },
        /** The state of the visualization */
        state: { type: Object },
        /** Whether Colvis should reset Data Binders */
        resetBinders: { type: Boolean, default: false },
        /** The annotation that is being replied to */
        replyTo: { type: Object }
    },
    data () {
        return initialState();
    },
    methods: {
        /**
         * Select a list of elements, based on the selection's coordinates usually sent from a Selector.
         * @param {Event} event the event emitted from the Selector
         * @param {SelectionCoordinates} event.coordinates selected rectangle where to search for selectable elements
         * @param {Object} event.mode contains various information regarding the selection's behavior
         * @param {string} [pool=subject] either 'subject' or 'complement', which pool to feed with the selection
         */
        selectElementsBySelector({ coordinates, mode }, pool = 'subject') {
            const currentPool = pool === 'subject' ? this.selectedSubjects : this.selectedComplements;
            const opposedPool = pool === 'subject' ? this.selectedComplements : this.selectedSubjects;
            const selectedElements = this.$colvis.getAnnotables()
                .map(el => {
                    const elRect = el.domElement.getBoundingClientRect();
                    el.selected = checkIfSelected(elRect, coordinates) && ensureNotPresent(el, opposedPool);
                    return el;
                })
                .filter(el => el.selected)
            this.selectionMethods.push('selector');

            if (!mode.add) {
                currentPool.length = 0;
                currentPool.push(...selectedElements);
            } else {
                const els = enforceUniqueId(currentPool.concat(selectedElements));
                currentPool.length = 0;
                currentPool.push(...els);
            }
        },

        /**
         * Select a list of elements.
         * @param {Array} elements a list of elements
         * @param {string} [pool=subject] either 'subject' or 'complement', which pool to feed with the selection
         */
        selectElementsByBox(elements, pool = 'subject') {
            const els = elements.map((el) => el.id);
            const selectedElements = this.$colvis.getAnnotables()
                .map(el => {
                    el.selected = els.includes(el.id);
                    return el;
                })
                .filter(el => el.selected);
            this.selectionMethods.push('combobox');
            if (pool === 'subject') this.selectedSubjects = selectedElements;
            else this.selectedComplements = selectedElements;
        },

        submit (a) {
            this.$emit('submittingAnnotation', a);
            Object.assign(this.$data, initialState());
        }
    },
    watch: {
        state () {
            this.$colvis.setVizState(this.state);
        },
        resetBinders () {
            if (this.resetBinders) {
                this.$colvis.resetDataBinders();
                this.$emit('bindersReset')                
            }
        }
    }
}
</script>

<style lang="sass">
@import '../../assets/styles/generic/_variables'
@import '../../assets/styles/generic/_transitions'

fieldset
    +field-set

.elevation
    box-shadow: $elevation

.colvis-color
    background-color: cc("blue")
    &--error
        background-color: cc("red--error")
    &--warning
        background-color: cc("yellow")
    &--success
        background-color: cc("green")

.c-dark, .c-dark *
    color: white

.c-light, .c-light *
    color: black
</style>