<template lang="pug">
    aside.col-input-overlay(
        ref="overlay"
        @mousemove="move"
    )
        nav.col-input-overlay__box(
            ref="box"
            :class="{ annotating, floating: $colvis.getOptions().floating }"
            :style="{ top: topPx, left: leftPx }"
        )
            header.toolbar(
                @mousedown="startMoving"
                @mousemove="move"
                @mouseup="stopMoving"
            )
                h3.header Taking an annotation
                button(@mousedown.stop="$emit('close')" icon) Close
            c-loading(v-show="loading")
            nav.col-input-overlay__box__nav
                label Structured annotation
                    input(type="checkbox" :checked="!free" @input="$emit('free', !free)")
                div.reply(v-if="replyTo") 
                    span You are replying to an annotation
                    small.clear(@click="$emit('stopReplying')") Clear
                    div.reply__details
                        div.reply__details__text
                            c-text(:annotation="replyTo" clickEvent="selectUnit" @selectUnit="selectUnit")
                        //fieldset.reply__details__functions
                            legend My answer is
                            label 
                                input(type="radio" v-model="replyType" value="comment")
                                span a further observation
                            label
                                input(type="radio" v-model="replyType" value="against")
                                span an evidence against this annotation
                            label
                                input(type="radio" v-model="replyType" value="for")
                                span an evidence for this annotation
            col-input-box(
                v-if="!free"
                :previousTags="previousTags" :previousUnits="previousUnits" :unitToRestore="unitToRestore"
                :selectedComplements="selectedComplements" :selectedSubjects="selectedSubjects"
                :selectionMethods="selectionMethods" :replyTo="replyTo" :replyType="replyTo ? replyType : null"
                @stepChanged="$emit('stepChanged', $event)" @boxSubjectSelection="$emit('boxSubjectSelection', $event)"
                @boxComplementSelection="$emit('boxComplementSelection', $event)" 
                @submittingAnnotation="$emit('submittingAnnotation', $event)" @unitRestored="unitToRestore = null"
            )
            col-free-box(
                v-else
                :previousTags="previousTags" :replyTo="replyTo" :replyType="replyTo ? replyType : null"
                @submittingAnnotation="$emit('submittingAnnotation', $event)"
            )
</template>

<script>
import ColInputBox from '@/components/Input/Box.vue';
import CText from '@/components/Retrieval/CText.vue';
import ColFreeBox from '@/components/Input/Free.vue';
import CLoading from '@/components/_generic/CLoading.vue';

/**
 * Create a new Overlay.
 * An overlay includes the annotation box and places it within a navigation box.
 * The box is detached from the Overlay so that developers can use it outside of the context
 * of the box, should it be needed.
 */
export default {
    components: { ColInputBox, CText, ColFreeBox, CLoading },
    props: {
        /** Whether the user is annotating the visualization */
        annotating: { type: Boolean, default: false },
        /** Whether to use the dark theme for the Vuetify's components */
        dark: { type: Boolean, default: false },
        /** The list of selected subjects */
        selectedSubjects: { type: Array, default: () => [] },
        /** The list of selected components */
        selectedComplements: { type: Array, default: () => [] },
        /** The list of existing units in the backend's database */
        previousUnits: { type: Array, default: () => []},
        /** The list of existing tags in the backend's database */
        previousTags: { type: Array, default: () => [] },
        loading: { type: Boolean, default: false },
        selectionMethods: { type: Array, default: () => [] },
        free: { type: Boolean, default: false },
        replyTo: { type: Object },
    },
    data () {
        return {
            top: 0,
            left: 0,
            offsetTop: 0,
            offsetLeft: 0,
            maxVertical: 0,
            maxHorizontal: 0,
            moving: false,
            eventListeners: [],
            replyType: 'comment',
            structured: true,
            unitToRestore: null
        }
    },
    computed: {
        topPx () {
            if (!this.$colvis.getOptions().floating) return '0';
            const intendedTop = this.top + this.offsetTop;
            let top = intendedTop > 0 ? intendedTop : 0;
            top = top < this.maxVertical ? top : this.maxVertical;
            return `${top}px`;
        },
        leftPx () {
            if (!this.$colvis.getOptions().floating) return 'calc(100% - 30rem)';
            const intendedLeft = this.left + this.offsetLeft;
            let left = intendedLeft > 0 ? intendedLeft : 0;
            left = left < this.maxHorizontal ? left : this.maxHorizontal;
            return `${left}px`;
        }
    },
    methods: {
        startMoving (e) {
            this.moving = true;
            const { top, left } = e.target.getBoundingClientRect();
            this.top = e.clientY;
            this.left = e.clientX;
            this.offsetTop = top - e.clientY;
            this.offsetLeft = left - e.clientX;
        },
        move (e) {
            if (!this.moving) return;
            this.top = e.clientY;
            this.left = e.clientX;
        },
        stopMoving () {
            this.moving = false;
            console.log('debug: not moving anymore');
        },
        selectUnit (unit) {
            this.unitToRestore = unit;
        }
    },
    mounted () {
        let offsetTop = 0;
        let offsetLeft = 0;
        let offsetter = this.$refs.overlay.parentElement;
        this.maxVertical = document.body.clientHeight - this.$refs.box.clientHeight;
        this.maxHorizontal = document.body.clientWidth - this.$refs.box.clientWidth;
        while (offsetter.offsetParent) {
            offsetTop += offsetter.offsetParent.offsetTop;
            offsetLeft += offsetter.offsetParent.offsetLeft;
            offsetter = offsetter.offsetParent;
        }
        Object.assign(this.$data, { offsetTop, offsetLeft });

        document.body.addEventListener('mouseleave', this.stopMoving);
        this.eventListeners.push({ mouseleave: this.stopMoving});
    },
    destroyed () {
        this.eventListeners.forEach(e => {
            Object.keys(e).forEach(key => {
                document.body.removeEventListener(key, e[key]);
            });
        });
    },
    watch: {
        annotating () {
            this.maxVertical = document.body.clientHeight - this.$refs.box.clientHeight;
            this.maxHorizontal = document.body.clientWidth - this.$refs.box.clientWidth;
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.toolbar
    +toolbar("light")

.header
    pointer-events: none
    user-select: none

.col-input-overlay
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    pointer-events: none
    z-index: 1001

    &__activator
        pointer-events: auto

    &__box
        +container("light")
        pointer-events: auto
        position: absolute
        max-width: 30em
        height: 100%
        max-height: 100vh
        z-index: 100
        transform: translateX(100%)
        transition: transform .2s ease-in-out
        width: 30em

        &__nav
            text-align: center

        &.floating
            border-radius: 5px 5px 25px 25px
            overflow-y: auto
            overflow-x: hidden
            box-shadow: $elevation
            height: auto
            position: fixed
            opacity: 0
            pointer-events: none

            .toolbar:hover
                cursor: move

        &.annotating, &.annotating.floating
            transform: translateX(0)
            opacity: 1
            pointer-events: auto

.reply
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    margin: 1rem auto
    max-width: 25rem
    text-align: left

    &__details
        display: flex

        &__text
            width: 25rem
            flex: 2
            background: cc("blue", "light")
            color: white
            padding: .25rem
            border-radius: 3px
            box-shadow: $elevation

        &__functions
            flex: 1
            display: flex
            flex-direction: column
            text-align: left
            justify-content: space-between
            margin: 0 0 0 .5rem

.clear
    cursor: pointer
</style>
