<template lang="pug">
    svg.col-input-selector(
        v-if="$colvis.hasSelector()"
        :class="{ active: [1,3].includes(step) && !free, selecting: selecting && !selectionAdd, adding: selecting && selectionAdd }"
        ref="selection"
        :style="{ top: `${compTop}px`, left: `${compLeft}px`, width: `${width}px`, height: `${height}px` }"
        @mousedown="start"
        @mousemove="setRect"
        @mouseup="sendCoordinates"
    )
        rect.col-input-selector__selection(
            :x="selectionX" 
            :y="selectionY" 
            :width="selectionWidth" 
            :height="selectionHeight"
        )
        path.col-input-selector__selected(
            v-for="(el, i) in pathPool" 
            :key="i" 
            :class="{ active: el.step === step }"
            :transform="getTransform(el)"
            :d="el.domElement.attributes.d.value"
        )
        circle.col-input-selector__selected(
            v-for="(el, i) in circlePool"
            :key="i"
            :class="{ active: el.step === step }"
            :transform="getTransform(el)"
            :cx="el.domElement.cx.animVal.value"
            :cy="el.domElement.cy.animVal.value"
            :r="el.domElement.r.animVal.value"
        )
        rect.col-input-selector__selected(
            v-for="(el, i) in rectPool"
            :key="i"
            :class="{ active: el.step === step }"
            :transform="getTransform(el)"
            :x="el.domElement.attributes.x.value"
            :y="el.domElement.attributes.y.value"
            :width="el.domElement.attributes.width.value"
            :height="el.domElement.attributes.height.value"
        )
</template>

<script>

/**
 * Create a new Selector.
 * Selectors are the visual interface that allows analysts to select data units from their visualizations.
 * @extends Vue
 */
export default {
    props: {
        /** Whether the visualization has been initialized */
        init: { type: Boolean, required: true },
        /** The list of selected subjects */
        selectedSubjects: { type: Array, default: () => [] },
        /** The list of selected complements */
        selectedComplements: { type: Array, default: () => [] },
        /** The current step of the annotation */
        step: { type: Number, required: true },
        /** Whether a free annotation is being taken */
        free: { type: Boolean, default: false }
    },
    data () {
        /** The top position of the Selector, in pixels */
        const top = 0;
        /** The left position of the Selector, in pixels */
        const left = 0;
        /** The width of the Selector, in pixels */
        const width = 0;
        /** The height of the Selector, in pixels */
        const height = 0;
        /** Some parent elements of the Selector might be in Position relative  */
        const offsetTop = 0;
        const offsetLeft = 0;
        /** Whether the user is currently selecting something in the Selector */
        const selecting = false;
        /** The 'x' attribute of the rectangular selection */
        const selectionX = 0;
        /** The 'y' attribute of the rectangular selection */
        const selectionY = 0;
        /** The 'width' attribute of the rectangular selection */
        const selectionWidth = 0;
        /** The 'height' attribute of the rectangular selection */
        const selectionHeight = 0;
        /** The original 'x' attribute of the rectangular selection. Needed to understand if going backwards. */
        const selectionXOrigin = 0;
        /** The original 'y' attribute of the rectangular selection. Needed to understand if going upwards. */
        const selectionYOrigin = 0;
        /** Whether the selection is in "add" or "replace" (default) mode */
        const selectionAdd = false
        /** List of event listeners to remove once the component is destroyed */
        const eventListeners = []
        /** ResizeObserver to make sure that the selector matches the SVG it overlays */
        const resizeObserver = null;

        return { top, left, width, height, offsetTop, offsetLeft, selecting, selectionX, selectionY, selectionWidth, selectionHeight, selectionXOrigin, selectionYOrigin, eventListeners, resizeObserver };
    },
    computed: {
        /** @returns the list of selected DataBinders, either as subjects or complements. */
        pool() {
            return this.selectedSubjects.map(s => { s.step = 1; return s; })
                .concat(
                    this.selectedComplements.map(c => { c.step = 3; return c })
                );
            // return this.step === 1 ? this.selectedSubjects.map(s => { s.step = 1; return s; }) : this.selectedComplements.map(c => { c.step = 3; return c });
        },

        /** @returns the list of paths within the selected DataBinders. */
        pathPool() {
            return this.pool.filter((binder) => binder.domElement.tagName === 'path');
        },

        /** @returns the list of circles within the selected DataBinders. */
        circlePool() {
            return this.pool.filter((binder) => binder.domElement.tagName === 'circle');
        },

        /** @returns the list of rectangles within the selected DataBinders. */
        rectPool() {
            return this.pool.filter((binder) => binder.domElement.tagName === 'rect');
        },

        compLeft() {
            return this.left - this.offsetLeft;
        },

        compTop() {
            return this.top - this.offsetTop;
        }
    },
    methods: {
        /**
         * Return the translation value of a given element, based on its transformation matrix.
         * It allows to restore the element's precise position despite potential transformations
         * implied by parents.
         * @param {DataBinder} element the element whose translate value is required
         */
        getTransform(element) {
            if (!(element.domElement instanceof SVGGraphicsElement))
                throw new Error('The selected element is not a SVG element');
            const matrix = element.domElement.getCTM();
            return matrix ? `translate(${matrix.e}, ${matrix.f})` : ``;
        },

        /**
         * Get the position of the container of the visualization.
         * Setting { top, left, width, height } properties of the instance.
         */
        getPosition() {
            function position () {
                const target = document.querySelector(this.$colvis.getSpecs().visualization.container);
                if (!target) {
                    throw new Error('Could not locate a target container for the Selector. Please make sure the specifications is set correctly.');
                }

                let offsetTop = 0;
                let offsetLeft = 0;
                let offsetter = this.$refs.selection.parentElement;
                while (offsetter.offsetParent) {
                    offsetTop += offsetter.offsetParent.offsetTop;
                    offsetLeft += offsetter.offsetParent.offsetLeft;
                    offsetter = offsetter.offsetParent;
                }
                const { top, left, width, height } = target.getBoundingClientRect();
                Object.assign(this.$data, { top, left, width, height, offsetTop, offsetLeft });
            }

            position.call(this);

            if (this.height <= 0) {
                console.warn('Could not attach Selector. Will try again in 1 second.');
                const interval = window.setInterval(e => {
                    position.call(this);
                    if (this.height > 0) {
                        console.log('Selector attached');
                        clearInterval(interval);
                    } else console.warn('Could not attach Selector. Will try again in 1 second.');
                }, 1000)
            }
        },

        /**
         * Startup function that tracks the move of the mouse over the selector's area.
         * Called on mousedown.
         * Setting { selecting, selectionXOrigin, selectionYOrigin } properties of the instance.
         * @param {MouseEvent} event the mousedown event
         */
        start(event) {
            this.selecting = true;
            if (event.ctrlKey || event.shiftKey) this.selectionAdd = true;
            else this.selectionAdd = false;
            const boundingBox = this.$refs.selection.getBoundingClientRect();


            this.selectionXOrigin = this.selectionX = event.clientX - boundingBox.left;
            this.selectionYOrigin = this.selectionY = event.clientY - boundingBox.top;
        },

        changeMode(event) {
            if (event.type === 'keyup') {
                if (event.key === 'Control') this.selectionAdd = false;
            } else {
                if (event.key === 'Control') this.selectionAdd = true;
                else this.selectionAdd = false;
            }
        },

        /**
         * Compute the coordinates of the selection rectangle.
         * Function called while moving across the selector's area.
         * Setting
         * { selectionX, selectonWidth, selectionXOrigin, selectionY, selectionHeight, selectionYOrigin }
         * properties of the instance.
         * @param {MouseEvent} event the mousemove event
         */
        setRect(event) {
            if (!this.selecting) return;
            const boundingBox = this.$refs.selection.getBoundingClientRect();
            const x = event.clientX - boundingBox.left;
            const y = event.clientY - boundingBox.top;

            if (x > this.selectionXOrigin) this.selectionWidth = x - this.selectionXOrigin;
            else {
                this.selectionX = x;
                this.selectionWidth = this.selectionXOrigin - x;
            }

            if (y > this.selectionYOrigin) this.selectionHeight = y - this.selectionYOrigin;
            else {
                this.selectionY = y;
                this.selectionHeight = this.selectionYOrigin - y;
            }
        },

        /**
         * Reset the selection rectangle's values.
         * Setting { selecting, selectionX, selectionY, selectionWidth, selectionHeight } properties of the instance.
         */
        reset() {
            this.selecting = false;
            this.selectionX = 0;
            this.selectionY = 0;
            this.selectionWidth = 0;
            this.selectionHeight = 0;
        },

        /**
         * Send the coordinates of the rectangle to parents.
         */
        sendCoordinates() {
            const base = this.$refs.selection.getBoundingClientRect();
            this.$emit(
                `${this.step === 1 ? 'subject' : 'complement'}Selection`,
                {
                    coordinates: {
                        x: this.selectionX + base.left,
                        y: this.selectionY + base.top,
                        width: this.selectionWidth,
                        height: this.selectionHeight,
                    },
                    mode: {
                        add: this.selectionAdd,
                    },
                },
            );
            this.reset();
        }
    },
    watch: {
        init () {
            if (this.$colvis.isInit()) this.getPosition();
        }
    },
    mounted () {
        this.getPosition();

        addEventListener('resize', this.getPosition);
        this.eventListeners.push({ resize: this.getPosition });
        addEventListener('keydown', this.changeMode);
        this.eventListeners.push({ keydown: this.changeMode });
        addEventListener('keyup', this.changeMode);
        this.eventListeners.push({ keyup: this.changeMode });

        /**
         * We resize the selector when the selector's parent's element is resized. We cannot observe
         * SVGs, since there are multiple issues with SVG and bounding boxes.
         */
        this.resizeObserver = new ResizeObserver(e => { console.log('triggering resize'); this.getPosition(); });
        this.resizeObserver.observe(this.$refs.selection.parentElement);
    },
    destroyed () {
        this.eventListeners.forEach(e => {
            Object.keys(e).forEach(key => {
                removeEventListener(key, e[key]);
            });
        });
        this.resizeObserver.disconnect();
    }
}
</script>

<style lang="sass">
@import "../../assets/styles/generic/_animations"
@import "../../assets/styles/generic/_variables"

.col-input-selector
    position: absolute
    pointer-events: none
    cursor: crosshair
    z-index: 4
    
    &.active
        background-color: rgba(sc("red"), .2)
        pointer-events: auto

        &.selecting
            cursor: move

        &.adding
            cursor: copy

        .col-input-selector__selection, .col-input-selector__selected
            opacity: 1

    &__selection, &__selected
        opacity: .4
        fill: rgba(100, 100, 100, .3)
        stroke: rgb(100, 100, 100)
        mix-blend-mode: multiply

        &.active
            fill: rgba(sc("red"), .3)
            stroke: sc("red")
            stroke-dasharray: 5
            animation: col-rotate 2s infinite
</style>
