<template lang="pug">
    fieldset(@click.stop="listModal = true")
        header.legend
            label(:for="id" v-if="label") {{ label }}
            small.clear-selection(v-if="filteredSelection.displayed.length" @click="$emit('input', [])") x Clear selection
        div.field(ref="field" @click="focus")
            transition-group(name="fade")
                c-chip(
                    v-for="element in filteredSelection.displayed" 
                    :key="element.id" :text="$colvis.getEntityTitle(element)" 
                    closeable @close="toggleItem(element)")
                c-chip(v-if="filteredSelection.hidden.length" :text="`...${ filteredSelection.hidden.length } others`" key="colvisOthers")
            input(:id="id" ref="fieldInput" type="text" v-model="searchString" placeholder="search for an entry" @keydown.backspace="checkEntry" @keydown.enter.prevent="checkEntry" autofill="off" autocomplete="off")
        ul.list(v-if="listModal && !$colvis.getOptions().autocomplete.group" :style="{ width: `${$refs.field.clientWidth}px` }" ref="list")
            li(
                v-for="(item, index) in filteredItems" 
                :class="{ first: index === 0, selected: indexOfSelected(item) !== -1 }" 
                :key="item.id" 
                :title="$colvis.getEntityTitle(item)"
                @click="toggleItem(item)") {{ $colvis.getEntityTitle(item) }}
        transition(name="slide-down-fade")
            ul.list--structured(v-if="listModal && $colvis.getOptions().autocomplete.group" :style="{ width: `${$refs.field.clientWidth}px` }" ref="listStructured") 
                li(
                    v-for="(item, index) in filteredItems" 
                    :class="{ first: index === 0, selected: indexOfSelected(item) !== -1 }" 
                    :key="item.id" 
                    :title="$colvis.getEntityTitle(item)") 
                        i close
                        span {{ $colvis.getEntityTitle(item) }}
                        ul.list__secondlevel
                            li(v-for="nature in item.natures" :key="nature.name") 
                                i close
                                span {{ nature.name }}
                                ul.list__thirdlevel
                                    li(
                                        v-for="item in nature.list"
                                        :class="{ selected: indexOfSelected(item) !== -1 }" 
                                        :key="item.id" 
                                        @click="toggleItem(item)"
                                    ) {{ $colvis.getEntityTitle(item) }} 
</template>

<script>
import CChip from '../_generic/CChip.vue'
export default {
    components: { CChip },
    props: {
        items: { type: Array, required: true },
        id: { type: String },
        value: { type: Array },
        label: { type: String }
    },
    data () {
        return {
            listModal: false,
            selected: [],
            searchString: null,
            eventListeners: []
        }
    },
    computed: {
        filteredItems () {
            let items;
            const g = this.$colvis.getOptions().autocomplete.group;
            
            if(!this.searchString) items = this.items;
            else {
                items = this.items.filter(item => `${this.$colvis.getEntityTitle(item)}`.toLowerCase().indexOf(this.searchString.toLowerCase()) !== -1);
            } 

            if (!g) {
                return items;
            } else {
                const entities = this.$colvis.getEntities();
                const firstLevel = entities.filter(item => { return item.natureId === g});
                const combinations = this.$colvis.getCombinationsWhereParent(g);
                combinations.forEach(c => {
                    c.productsItems = c.products.map(p => { return { id: p, combination: c } })
                })
                const products = [].concat(...combinations.map(c => c.productsItems));
                firstLevel.forEach(l => {
                    l.natures = [...products.map(p => {
                        const n = this.$colvis.getNature(p.id);
                        const field = p.combination.groupedSelection[l.natureId];
                        const list = n.list.filter(e => {
                            return e.obj[field] === l.id;
                        })
                        return { id: p.id, name: this.$colvis.getNatureName(p.id), list }
                    })];
                })
                return firstLevel;
            }

        },
        filteredSelection () {
            return this.$colvis.getFilteredList(this.value);
        }
    },
    methods: {
        toggleItem (item) {
            const selected = this.indexOfSelected(item);
            if (selected === -1) {
                this.$emit('input', [item].concat(this.value));
            } else {
                const items = [...this.value]
                items.splice(selected, 1);
                this.$emit('input', items);
            }
        },
        indexOfSelected (item) {
            const items = this.value.map(i => i.id);
            return items.indexOf(item.id);
        },
        focus () {
            this.$refs.fieldInput.focus();
        },
        checkEntry(event) {
            if (event.key === 'Enter') {
                if (this.filteredItems.length) this.toggleItem(this.filteredItems[0]);
                this.searchString = '';
            } else if (event.key === 'Backspace') {
                if (!this.searchString) this.$emit('input', this.value.slice(0, -1));
            }
        }
    },
    mounted () {
        const fn = c => {
            function checkEqual (ref, target) {
                if(ref === target) return true;
                if(!target.parentNode) return false;
                return checkEqual(ref, target.parentNode)
            }

            if (this.listModal && !checkEqual(this.$refs.list, c.target)) {
                this.listModal = false;
            }
        }
        addEventListener('click', fn);
        this.eventListeners.push({ click: fn });
    },
    destroyed () {
        this.eventListeners.forEach(e => {
            Object.keys(e).forEach(key => {
                removeEventListener(key, e[key]);
            });
        });
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'
@import '../../assets/styles/generic/_transitions'

.legend
    display: flex
    justify-content: space-between

.clear-selection
    &:hover
        cursor: pointer

.field
    +field

    > input
        &:focus
            outline: none

.list, .list--structured
    z-index: 1001
    padding: 0
    list-style: none
    max-height: 20vh
    min-height: 2.5em
    overflow-x: hidden
    overflow-y: auto
    background: rgba(255, 255, 255, .5)

    &__secondlevel
        padding: 0
        margin-left: .5rem

    &__thirdlevel
        padding: 0
        margin-left: 1rem

    li
        display: block
        width: 100%
        padding: .25rem 1rem
        background: rgba(255, 255, 255, .5)
        margin: .25rem 0
        transition: all .2s ease-in-out

        &.first
            box-shadow: 2px 3px 5px rgba(0, 0, 0, .2), -2px 3px 5px rgba(0, 0, 0, .2)

        &.selected
            background-color: cc("blue", "darker")
            color: white
            opacity: .8
        
        &:hover
            cursor: pointer
            filter: brighten(1.2)
</style>