<template lang="pug">
    fieldset.combobox
        header.legend
            label(:for="`${label}Field`" v-if="label") {{ label }}
            small.clear-selection(v-if="tags.length" @click="$emit('input', [])") x Clear selection
        div.field(ref="field" @click="focus")
            c-chip(v-for="tag in distinctTags" :key="tag" :text="tag" closeable @close="removeTag(tag)")
            input.combobox__input(:id="`${label}Field`" type="text" label="Tags" v-model="incomingTag" :list="`${label}List`" @keydown.backspace="checkTag" @keydown.enter.prevent="checkTag" @input="checkTag" :placeholder="placeholder" @focus="hintVisible = true" @blur="hintVisible = false")
        transition(name="slide-fade-down")
            footer(v-show="hintVisible")
                small.hint {{ hint }}
        datalist(:id="`${label}List`")
            option(v-for="item in items" :key="item") {{ item }}

</template>

<script>
import CChip from '../_generic/CChip.vue';

export default {
    components: { CChip },
    props: {
        label: {
            type: String
        },
        hint: {
            type: String
        },
        placeholder: {
            type: String
        },
        value: {
            type: Array,
            default: () => []
        },
        items: {
            type: Array,
            default: () => []
        }
    },
    data: () => ({
        tags: [],
        hintVisible: false
    }),
    mounted () {
        if (this.value.length) this.tags = this.value;
    },
    computed: {
        distinctTags () {
            return Array.from(new Set(this.tags));
        }
    },
    methods: {
        checkTag (event) {
            const push = (tag) => {
                if (tag || this.incomingTag) this.tags.push(tag || this.incomingTag);
                this.incomingTag = null;
            }
            if (event.type === 'keydown') {
                if (event.key === 'Enter') push();
                else if (event.key === 'Backspace' && !this.incomingTag) this.tags.pop();
            } else if (event.type === 'input') {
                if (event.inputType === 'insertReplacementText') push(event.data); 
                else if ([' ', ','].includes(event.data)) push(this.incomingTag.substr(0, this.incomingTag.length - 1));
            }
        },
        removeTag (tag) {
            const index = this.tags.indexOf(tag);
            this.tags.splice(index, 1);
        },
        focus () {
            document.querySelector(`#${this.label}Field`).focus();
        }
    },
    watch: {
        distinctTags () {
            this.$emit('input', this.distinctTags);
        },
        value () {
            if (JSON.stringify(this.tags) !== JSON.stringify(this.value)) {
                console.log('synching tags');
                this.tags = this.value;
            }
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'
@import '../../assets/styles/generic/_transitions'

.legend
    display: flex
    justify-content: space-between

.clear-selection
    &:hover
        cursor: pointer

.field
    +field

small.hint
    +hint

.combobox
    &__input
        &:focus
            outline: none
</style>