<template lang="pug">
    div(v-if="isGenerality")
        div.feature
            textarea.textarea(label="Details" v-model="details" placeholder="Describe the general trend")
    div(v-else)
        p.verb(v-for="verb in verbs" :key="verb.id" :class="{ selected: verb === selectedVerb }" @click="selectVerb(verb)") {{ getVerbText(verb) }}
        div.feature(v-if="selectedVerb")
            textarea.textarea(label="Details" v-model="details" placeholder="i.e.: because of its position / because of high education")
</template>

<script>
//v-for="combination in availableCombinations" :key="combination.first+combination.second")

import CAutocomplete from './CAutocomplete.vue';

class RawDataFeature {
    subject;
    explanation;
    product;
    value;

    constructor ({ subject, explanation, product, value }) {
        this.subject = subject;
        this.explanation = explanation || [];
        this.product = product || [];
        this.value = value || null;
    }
}

export default {
    components: { CAutocomplete },
    props: {
        /**
         * @type {DataBinder[]}
         */
        entities: {
            type: Array,
            required: true
        },
        subject: {
            type: Array,
            required: true
        },
        complement: {
            type: Array
        },
        combinations: {
            type: Array
        },
        isGenerality:  {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            selectedVerb: null,
            verbs: [
                { id: 'diff', singular: 'stands out', plural: 'stand out', comparison: 'from' },
                { id: 'sim', singular: 'is similar', plural: 'are similar', comparison: 'to' }
            ],
            details: ''
        }
    },
    computed: {
        availableCombinations () {
            const sn = this.subject[0].natureId;
            return this.combinations.filter(c => c.first === sn || c.second ===sn);
        },
        availableProducts () {
            return [].concat(...[].concat(...this.availableCombinations.map(c => c.products)));
        },
        availableExplanations () {
            return this.entities.filter(e => {
                const combIds = this.combinations.map(c => c.first+c.second);
                const currentComb = [e.natureId+this.subject.natureId, this.subject.natureId+e.natureId];

                return combIds.includes(currentComb[0]) || combIds.includes(currentComb[1]);
            })
        },
        currentVerbs () {
        }
    },
    methods: {
        getVerbText (verb) {
            const n = this.subject.length > 1 ? 'plural' : 'singular';
            const c = this.complement && this.complement.length > 0 ? ` ${verb.comparison}`: '';
            return `${verb[n]}${c}`;
        },
        selectVerb (verb) {
            if (verb === this.selectedVerb) this.selectedVerb = null;
            else this.selectedVerb = verb;
        },
        selectValue (feature, value) {
            if (value === feature.value) feature.value = null;
            else feature.value = value;
        },
        sendSelection () {
            const verb = { ...this.selectedVerb };
            verb.text = this.getVerbText(verb);
            this.$emit('selection', { verb, details: this.details, dataFeatures: this.dataFeatures, visualFeatures: this.visualFeatures });
        },
        addFeature () {
            this.dataFeatures.push(new RawDataFeature({ subject: this.subject }))
        },
        getEntriesForProduct (product) {
            // Find the combination and take the second nature
            const natureId = this.availableCombinations.filter(c => c.products.filter(p => p.id === product.id)[0])[0].second;
            // Find all entries belonging to this nature
            return this.entities.filter(e => e.natureId === natureId);
        }
    },
    watch: {
        selectedVerb () {
            this.sendSelection();
        },
        details () {
            this.sendSelection();
        },
        selectedAttribute () {
            this.sendSelection();
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'
.verb, .attribute
    background-color: rgba(255, 255, 255, .3)
    border-radius: 5px
    padding: .25rem

    &:hover
        cursor: pointer
    
    &.selected
        background-color: cc("blue")
        color: white
        box-shadow: $elevation
</style>