<template lang="pug">
    fieldset
        label(:for="id") Name the group
        input.field(:id="id" @input="groupName = $event.target.value" :value="currentName" type="text" placeholder="Optionally type a name for the group...")
</template>

<script>
export default {
    props: {
        selection: {
            type: Array,
            required: true
        },
        id: {
            type: String
        },
        value: {
            type: String
        }
    },
    data () {
        return {
            groupName: ''
        }
    },
    computed: {
        suggestedName () {
            const current = this.selection.length
            const total = this.$colvis.getEntities().length;
            const natureName = this.$colvis.getNatureName(this.selection[0].natureId, true);

            if (current === total) return `All ${natureName}`;
            else if (current > total * .8) return `Most ${natureName}`;

            return null;
        },
        currentName () {
            if (this.groupName) return this.groupName;
            else if(this.suggestedName) return this.suggestedName
            else return null;
        }
    },
    mounted () {
        if (this.value) this.groupName = this.value;
        this.$emit('input', this.currentName);
    },
    watch: {
        currentName () {
            this.$emit('input', this.currentName);
        },
        suggestedName () {
            this.$emit('input', this.currentName);
        },
        value () {
            if (this.groupName !== this.value) {
                this.groupName = this.value;
            }
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.field
    +field

</style>