<template lang="pug">
    fieldset
        legend Suggestions
        ul.suggestions
            li.suggestions__item(v-for="suggestion in suggestions" :key="suggestion.unit.title" @click="$emit('choose', suggestion.unit)") {{ suggestion.unit.title }} 
                span(v-if="suggestion.text") (textual)
                span (match: {{ Math.ceil(suggestion.matchRatio * 100) }}%)
</template>

<script>
export default {
    props: {
        suggestions: { type: Array, required: true }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.suggestions
    list-style: none
    padding: 0
    z-index: 1001
    padding: 0
    list-style: none
    max-height: 20vh
    min-height: 2.5em
    overflow-x: hidden
    overflow-y: auto
    background: rgba(255, 255, 255, .5)

    &__item
        padding: .25rem 1rem
        margin: .25rem 0

        &:hover
            background-color: rgba(255, 255, 255, .8)
            box-shadow: $elevation
            cursor: pointer
</style>