<template lang="pug">
    nav.filter
        ul.tabs
            li(@click="tab = 'units'" :class="{ active: tab === 'units' }") Units
            li(@click="tab = 'tags'" :class="{ active: tab === 'tags' }") Tags
            li(@click="tab = 'patterns'" :class="{ active: tab === 'patterns' }") Patterns
            li(@click="tab = 'loi'" :class="{ active: tab === 'loi' }") Levels of Interpretation
        section.content(v-if="tab")
            small.explanation(v-if="view.explanations" v-for="(e, o) in view.explanations") 
                strong {{o}}: 
                span {{ e.text }}
            div.filter__search(v-if="view.search")
                label
                    search-icon
                    input.filter__search__input(type="search" v-model="needle" placeholder="Search")
            transition-group(tag="div" class="content__chips" name="flip-list")
                c-chip(v-for="item in filteredItems" :class="{ selected: selected && selected.name === item.name }" :key="item.name" @click="select(item)") {{ item.name }}
                    template(v-if="item.icon" v-slot:prepend)
                        c-singularity(v-if="item.name === 'singularity'" color="white")
                        c-duality(v-if="item.name === 'duality'" color="white")
                        c-generality(v-if="item.name === 'generality'" color="white")
                    template(v-slot:append)
                        span.count {{ item.annotations.length }} annotations
</template>

<script>
import CChip from '@/components/_generic/CChip.vue';
import CSingularity from '@/components/_generic/CSingularity.vue';
import CDuality from '@/components/_generic/CDuality.vue';
import CGenerality from '@/components/_generic/CGenerality.vue';
import SearchIcon from '@/components/_generic/SearchIcon.vue';

export default {
    components: { CChip, CSingularity, CDuality, CGenerality, SearchIcon },
    props: {
        annotations: { type: Array, default: () => [] },
        openWith: { type: Object }
    },
    data () {
        return {
            tab: null,
            selected: null,
            needle: null
        }
    },
    methods: {
        select (item) {
            this.selected = item.name === this.selected?.name ? null : item;
            this.$emit('select', this.selected);
        },
    },
    computed: {
        tags () {
            const tags = this.annotations.reduce(
                (m, annotation) => {
                    const tags = annotation.tags.map(t => t.name || t);
                    tags.forEach(t => {
                        if (!m.has(t)) m.set(t, []);
                        m.get(t).push(annotation);
                    });
                    return m;
                },
                new Map()
            );
            const tagsArray = Array.from(tags).map(t => ({ name: t[0], annotations: t[1] }))
                .sort((a, b) => a.annotations.length > b.annotations.length ? -1 : 1);

            tagsArray.search = true;

            return tagsArray;
        },
        units () {
            const units = this.annotations.reduce(
                (m, annotation) => {
                    const units = annotation.dataUnits;
                    if (!units) return m;

                    units.forEach(u => {
                        if (!m.has(u.title)) m.set(u.title, [])
                        m.get(u.title).push(annotation)
                    });
                    return m;
                },
                new Map()
            );

            const unitsArray = Array.from(units).map(u => ({ name: u[0], annotations: u[1] }))
                .sort((a, b) => a.annotations.length > b.annotations.length ? -1 : 1);

            unitsArray.search = true;

            return unitsArray;
        },
        patterns () {
            const patterns = new Map();
            patterns.set('singularity', []);
            patterns.set('duality', []);
            patterns.set('generality', []);
            this.annotations.forEach(annotation => {
                if (annotation.patterns?.singularity) patterns.get('singularity').push(annotation)
                if (annotation.patterns?.duality) patterns.get('duality').push(annotation)
                if (annotation.patterns?.generality) patterns.get('generality').push(annotation)
            });

            const explanations = {
                singularity: { text: 'Denotes a comparison between a small group of entites and a larger one.' },
                duality: { text: 'Denotes a comparison between two or more groups of similar size.' },
                generality: { text: 'Denotes a general comment about the whole dataset of entites.' }
            }

            const patternsArray = Array.from(patterns).map(p => ({ name: p[0], annotations: p[1], icon: true }))
                .sort((a, b) => a.annotations.length > b.annotations.length ? -1 : 1);

            patternsArray.explanations = explanations;

            return patternsArray;
        },
        loi () {
            const loi = new Map();
            loi.set('visual', []);
            loi.set('data', []);
            loi.set('meaning', []);
            loi.set('visual and data', []);
            loi.set('visual and meaning', []);
            loi.set('data and meaning', []);
            loi.set('all', []);
            this.annotations.forEach(annotation => {
                const l = annotation.loi;
                if (!l) return;
                if (l.visual && !l.data && !l.meaning) loi.get('visual').push(annotation);
                else if (!l.visual && l.data && !l.meaning) loi.get('data').push(annotation);
                else if (!l.visual && !l.data && l.meaning) loi.get('meaning').push(annotation);
                else if (l.visual && l.data && !l.meaning) loi.get('visual and data').push(annotation);
                else if (l.visual && !l.data && l.meaning) loi.get('visual and meaning').push(annotation);
                else if (l.visual && !l.data && l.meaning) loi.get('data and meaning').push(annotation);
                else if (l.visual && l.data && l.meaning) loi.get('all').push(annotation);
            });

            const explanations = {
                visual: { text: 'The annotator relied on visual cues to formulate the annotation.' },
                data: { text: 'The annotator relied on prior knowledge of the dataset to formulate the annotation.' },
                meaning: { text: 'The annotator formulated an hypothesis based on the data selected.' }
            }

            const loiArray = Array.from(loi).map(l => ({ name: l[0], annotations: l[1], explanation: explanations[l[0]] }))
                .sort((a, b) => a.annotations.length > b.annotations.length ? -1 : 1);
            
            loiArray.explanations = explanations;

            return loiArray;
        },
        view () {
            if (!this.tab) return null;
            else return this[this.tab];
        },
        filteredItems () {
            if (!this.needle) return this.view;
            return this.view.filter(item => item.name?.toLowerCase().includes(this.needle.toLowerCase()));
        }
    },
    mounted () {
        if (this.openWith?.type === 'filter') {
            const { tab, selected } = this.openWith.object;
            this.tab = tab;
            this.select(this[tab].filter(s => s.name === selected)[0]);
        }
        this.$emit('openedWith');
    },
    watch: {
        openWith () {
            if (this.openWith?.type === 'filter') {
                const { tab, selected } = this.openWith.object;
                this.tab = tab;
                this.select(this[tab].filter(s => s.name === selected)[0]);
            }
            this.$emit('openedWith');
        },
        tab () {
            this.needle = null;
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.filter
    background: cc("colvis-grey")
    color: white
    box-shadow: $elevation

    &__search
        margin-bottom: 1rem
        width: 100%

        > *
            width: 100%
            border-radius: 3px
            background: cc("colvis-grey", "dark")
            padding: .25rem
            display: flex

            > input
                flex: 1

.tabs
    list-style: none
    display: flex
    max-width: 30rem
    padding: 0
    margin: 0 auto

    > li
        flex: 1
        text-align: center
        cursor: pointer
        padding: .25rem

        &:hover, &.active
            background: cc("colvis-grey", "dark")

.content
    max-width: 30rem
    margin: 1rem auto

    &__chips
        height: 10rem
        overflow-y: auto
        display: flex
        flex-wrap: wrap
        align-items: stretch
        justify-content: stretch

        > *
            transition: all .2s ease-in-out
            flex: 1
            display: flex
            align-items: center
            justify-content: space-around

            &.selected
                flex: 1 100%
                order: -1
                background: cc("blue", "dark")

.explanation
    display: block

.count
    background: cc("grey", "dark")
    border-radius: 5px
    padding: .25rem
    display: inline-block

.flip-list-enter-active, .flip-list-leave-active 
    transition: opacity .5s

.flip-list-enter, .flip-list-leave-to 
    opacity: 0

.flip-list-move
    transition: transform 1s

</style>