<template lang="pug">
    nav.toolbar
        div.toolbar__search
            label
                search-icon
                input.toolbar__search__input(type="search" v-model="needle" placeholder="Search for an annotation")
        div.toolbar__sort
            span Sort by:
            c-chip(inactive) Time
            c-chip(v-if="state" inactive) Current state
            c-chip(v-if="unit" @close="$emit('removeSort', 'unit')" closeable) Unit: {{ unit.title }}
            c-chip(v-if="tag" @close="$emit('removeSort', 'tag')" closeable) Tag: {{ tag }}
            c-chip(v-if="pattern" @close="$emit('removeSort', 'pattern')" closeable) Pattern: {{ pattern }}
            c-chip(v-if="loi" @close="$emit('removeSort', 'loi')" closeable) LOI: {{ loi }}
            c-chip(v-if="activeAnnotation" @close="$emit('removeSort', 'selectAnnotation')" closeable) Selected annotation
</template>

<script>
import CChip from '../_generic/CChip.vue';
import SearchIcon from '@/components/_generic/SearchIcon.vue';

export default {
    components: { CChip, SearchIcon },
    props: {
        unit: { type: Object },
        tag: { type: String },
        pattern: { type: String },
        loi: { type: String },
        activeAnnotation: { type: Object },
        state: { type: Boolean, default: false }
    },
    data () {
        return { needle: null }
    },
    watch: {
        needle () {
            this.$emit('search', this.needle);
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.toolbar
    padding: .5rem
    background: cc("colvis-grey")
    color: white
    box-shadow: $elevation

    &__search
        margin-bottom: 1rem
        background: cc("colvis-grey", "dark")
        border-radius: 3px
        padding: .25rem

        > label
            width: 100%
            display: flex

        &__input
            flex: 1
            color: white

    &__sort
        display: flex
        flex-flow: row wrap

        > button
            background: cc("blue")
</style>