<template lang="pug">
    div.card(:class="{ active, 'max-width': maxWidth }")
        section.body(@click="$emit('selectAnnotation', annotation)")
            header
                c-logo(:color="annotation.patterns ? 'red' : 'blue'")
                span {{ annotation.patterns ? 'structured' : 'free' }} annotation
                div.spacer
                div.patterns(v-if="annotation.patterns")
                    c-singularity(v-if="annotation.patterns.singularity && !annotation.patterns.generality" @click="$emit('pattern','singularity')")
                    c-duality(v-if="annotation.patterns.duality" @click="$emit('pattern','duality')")
                    c-generality(v-if="annotation.patterns.generality" @click="$emit('pattern','generality')")
                // svg.loi(v-if="annotation.loi" width="32" height="32" viewBox="0 0 24 24" @click.stop="$emit('loi', loi)")
                    rect(v-if="annotation.loi.visual" x="0" width="8" y="0" height="24") 
                    rect(v-if="annotation.loi.data" x="8" width="8" y="0" height="24") 
                    rect(v-if="annotation.loi.meaning" x="16" width="8" y="0" height="24") 
            c-text(:annotation="annotation" :activeAnnotation="activeAnnotation" :filter="filter" @highlight="$emit('highlight', $event)" @unit="$emit('unit', $event)" agDetails)
            footer.tags
                c-chip(v-for="tag in annotation.tags" :key="tag.id || tag" @click="$emit('tag', tag.name || tag)" :small="true") {{ tag.name || tag }}
                    template(v-slot:prepend): tag-icon
            small.date {{ (new Date(+annotation.meta.timestamp)).toLocaleString() }}
        section.footer(v-if="hasFooter")
            // div.stats(v-if="annotation.social.stats")
                c-chip.stat(inactive)
                    thumb-icon(:size="24")
                    span {{ annotation.social.stats.endorsed }}
                c-chip.stat(inactive)
                    funny-icon(:size="24")
                    span {{ annotation.social.stats.funny }}
            div.social(v-if="annotation.social.author")
                aside.social__avatar(@click="$emit('avatar', annotation.social.author.id)")
                    img(v-if="annotation.social.author.avatar" :src="annotation.social.author.avatar")
                    div(v-else) {{ annotation.social.author.name.substr(0, 1) }}
                span {{ annotation.social.author.name }}
            div.actions
                reply-icon.reply(v-if="canReply" @click="$emit('reply', annotation)" :class="{ selected: replying }" :color="null" :size="48")
                thumb-icon(@click="$emit('endorse', annotation)" :class="{ selected: annotation.social.endorsed }" :color="null" :size="48")
                funny-icon(@click="$emit('funny', annotation)" :class="{ selected: annotation.social.funny }" :color="null" :size="48")
            div.stats
                small(v-if="annotation.replyTo") this annotation is a reply of type "{{ annotation.replyType }}"
                small(v-if="replies.length") this annotation has {{ replies.length }} replies
                
        slot(name="extension" :annotation="annotation")
</template>

<script>
import CText from '@/components/Retrieval/CText.vue';
import CChip from '@/components/_generic/CChip.vue';
import CLogo from '@/components/_generic/CLogo.vue';
import CSingularity from '@/components/_generic/CSingularity.vue';
import CDuality from '@/components/_generic/CDuality.vue';
import CGenerality from '@/components/_generic/CGenerality.vue';
import TagIcon from '@/components/_generic/TagIcon.vue';
import ReplyIcon from '@/components/_generic/ReplyIcon.vue';
import ThumbIcon from '@/components/_generic/ThumbIcon.vue';
import FunnyIcon from '@/components/_generic/FunnyIcon.vue';
import { strfy, hashCode } from '@/assets/utils';

export default {
    components: { CText, CChip, CLogo, CSingularity, CDuality, CGenerality, TagIcon, ReplyIcon, ThumbIcon, FunnyIcon },
    props: {
        annotation: { type: Object, required: true },
        activeAnnotation: { type: Object },
        maxWidth: { type: Boolean, default: false },
        filter: { type: Boolean, default: false },
        canReply: { type: Boolean, default: true },
        replyTo: { type: Object },
        replies: { type: Array, default: () => [] }
    },
    methods: { strfy },
    computed: {
        active () { return this.annotation === this.activeAnnotation; },
        replying () { return this.annotation === this.replyTo; },
        hasFooter () { return this.annotation.social || this.$colvis.getEndorsement; },
        loi () {
            let loi = '';
            for (const prop in this.annotation.loi) {
                if (this.annotation.loi[prop]) loi += `${prop} `;
            }
            return loi.substr(0, loi.length - 1);
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_animations'
@import '../../assets/styles/generic/_variables'
    
.card
    width: 100%
    min-width: 10em
    background-color: rgba(255, 255, 255, .5)
    backdrop-filter: blur(2px)
    box-shadow: $elevation
    transition: all .2s ease-in-out

    &:hover
        box-shadow: $elevation2

    &.active
        border: 3px solid cc("colvis-grey", "light")
        box-shadow: $elevation2
        font-size: larger

    > .body
        cursor: pointer

        > header
            display: flex
            align-items: center
            color: cc("grey", "dark")
            font-size: smaller
            margin-bottom: 1rem

        > .date
            color: cc("grey", "dark")
            text-align: center
        > .tags
            padding: .5rem

    > .footer
        padding: .5rem
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        background: white

        > .stats
            width: 100%
            fill: cc("colvis-grey")
            display: flex
            margin-bottom: .5rem
            justify-content: space-between

            > .stat
                display: flex
                align-items: center
                margin-right: 1rem

        > .social
            flex: 1
            display: flex
            align-items: center

            &:hover
                > span
                    opacity: 1

            > span
                opacity: 0
                transition: opacity .2s ease-in-out

            > .social__avatar
                width: 48px
                height: 48px
                border-radius: 50%
                overflow: hidden
                background: cc("colvis-grey")
                display: flex
                justify-content: center
                cursor: pointer
                transition: all .2s ease-in-out

                &:hover
                    box-shadow: $elevation


                > img
                    height: 100%
                    width: 100%
                    object-fit: cover
                    object-position: center

                > div
                    align-self: center
                    color: white

        > .actions
            display: flex
            align-items: center

            > *
                border-radius: 50%
                overflow: hidden
                transition: background-color .1s ease-in-out
                cursor: pointer
                fill: cc("colvis-grey")
                padding: 5px

                &.reply
                    fill: cc("colvis-grey", "dark")
                    
                    &.selected
                        box-shadow: $elevation

                &.selected
                    background-color: cc("colvis-grey", "light")
                &:hover
                    background-color: cc("grey", "light")

.patterns
    margin-right: 1rem
.spacer
    +spacer
</style>