<template lang="pug">
    div.text(v-if="structured")
        span.text__unit 
            c-chip(:text="subject.title" :inactive="!subject.units.length && !clickEvent" @mouseover="activeAnnotation ? null : $emit('highlight', subject)" @mouseout="activeAnnotation ? null : $emit('highlight')" @click.stop="clickUnit('subject', subject)")
                template(v-if="filter" v-slot:prepend)
                    sort-icon(@click.stop="$emit('unit', subject)")
            div.text__unit__ag(v-if="subject.units.length && agDetails" :class="{ active: subjectVisible }")
                c-chip(v-for="unit in subject.units" :text="unit.title" inactive @mouseover="activeAnnotation ? null : $emit('highlight', unit)" @mouseout="activeAnnotation ? null : $emit('highlight')")
        span.text__verb {{ verb }}
        span.text__unit(v-if="complement") 
            c-chip(:text="complement.title" :inactive="!complement.units.length && !clickEvent" @mouseover="activeAnnotation ? null : $emit('highlight', complement)" @mouseout="activeAnnotation ? null : $emit('highlight')" @click.stop="clickUnit('complement', complement)")
                template(v-if="filter" v-slot:prepend)
                    sort-icon(@click.stop="$emit('unit', complement)") filter
            div.text__unit__ag(v-if="complement.units.length && agDetails" :class="{ active: complementVisible }")
                c-chip(v-for="unit in complement.units" :text="unit.title" inactive @mouseover="activeAnnotation ? null : $emit('highlight', unit)" @mouseout="activeAnnotation ? null : $emit('highlight')")
        span.text__details(v-if="details") {{ details }}
        span.text__meaning(v-if="meaning") {{ meaning }}
    div.text(v-else) {{ text }}
</template>

<script>
import CChip from '@/components/_generic/CChip.vue';
import SortIcon from '@/components/_generic/SortIcon.vue';

export default {
    components: { CChip, SortIcon },
    props: {
        annotation: { type: Object, required: true },
        activeAnnotation: { type: Object },
        filter: { type: Boolean, default: false },
        clickEvent: { type: String },
        agDetails: { type: Boolean, default: false }
    },
    data () {
        return {
            subjectVisible: false,
            complementVisible: false
        }
    },
    computed: {
        structured () {
            return !!this.annotation.patterns;
        },
        text () {
            return this.annotation.text;
        },
        subject () {
            return this.annotation.dataUnits.filter(u => u.role === 'subject')[0];
        },
        verb () {
            const n = this.subject.units?.length > 1 ? 'plural' : 'singular';
            let verb = this.annotation.rawAnnotation.reason.verb[n];
            if (this.complement) verb += ` ${this.annotation.rawAnnotation.reason.verb.comparison}`;
            else if (!this.details) verb += `.`;
            return ` ${verb}`;
        },
        complement () {
            return this.annotation.dataUnits.filter(u => u.role === 'complement')[0];
        },
        details () {
            let d = this.annotation.rawAnnotation.reason.details;
            if (!d) return;
            d = d.substr(-1).match(/^[.,:!? ]/) ? d : `${d}.`;
            return ` ${d}`;
        },
        meaning () {
            let m = this.annotation.rawAnnotation.meaning;
            if (!m) return;
            m = m.substr(-1).match(/^[.,:!? ]/) ? m : `${m}.`;
            return ` ${m}`;
        }
    },
    methods: {
        clickUnit (role, unit) {
            if (this.clickEvent) this.$emit(this.clickEvent, unit);
            else if(role === 'subject') this.subjectVisible = !this.subjectVisible;
            else this.complementVisible = !this.complementVisible
        }
    },
    watch: {
        subjectVisible () {
            if (this.subjectVisible) this.complementVisible = false;
        },
        complementVisible () {
            if (this.complementVisible) this.subjectVisible = false;
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.text
    padding: .5rem .5rem .5rem 2rem
    position: relative

    &::before
        position: absolute
        content: "”"
        font-size: 4em
        opacity: .5
        font-family: serif
        top: 0
        left: 0
        width: 100%
        height: 100%

    &__unit
        position: relative
        &__ag
            position: absolute
            left: 50%
            bottom: 0
            transform: translate(-50%, 100%)
            display: none
            width: 20em
            background: rgba(255, 255, 255, .4)
            backdrop-filter: blur(3px)
            padding: .5rem
            border-radius: 3px
            box-shadow: $elevation
            z-index: 150
            &.active
                display: initial
</style>