<template lang="pug">
    aside.col-retrieval--viz(:class="{ active: viewing }" :style="{ width: `calc(25rem + ${width}px)`}")
        header.col-retrieval--viz__header
            h3 {{ filteredAnnotations.length }} Annotations
            div.spacer
            button(@mousedown.stop="$emit('close')" icon) Close
        c-toolbar(
            :unit="unit" :tag="tag" :pattern="pattern" :annotations="annotations"
            :loi="loi" :activeAnnotation="activeAnnotation"
            @removeSort="removeSort" @search="needle = $event"
            state
        )
        button.col-retrieval--viz__handle(@mousedown="start" @mousemove="move" @mouseup="stop")
        transition-group(ref="list" name="flip-list" tag="ul" class="annotations-list")
            li.annotations-list__item(
                v-for="annotation in pagedAnnotations" :key="annotation.meta.timestamp"
                :class="{ linked: isChild(annotation) || isParent(annotation) || (annotation === activeAnnotation && (activeParent || answersToActive.length)), child: isChild(annotation), parent: isParent(annotation) }"
            )
                c-card(
                    :annotation="annotation" :activeAnnotation="activeAnnotation" :filter="true" :replyTo="replyTo"
                    @highlight="$emit('highlight', $event)" @selectAnnotation="selectAnnotation" :canReply="canReply"
                    @tag="sortByTag" @unit="sortByUnit" @pattern="sortByPattern" @loi="sortByLoi"
                    @avatar="$emit('avatar', $event)" @reply="$emit('reply', $event)"
                    @endorse="$emit('endorse', $event)" @funny="$emit('funny', $event)"
                )
                    template(v-slot:extension)
                        slot(name="card")
        transition(name="fade"): button.more.btn.primary(v-show="numPages < pages" @click="numPages += 1") show more
</template>

<script>
import CToolbar from '@/components/_retrieval/CToolbar.vue';
import CCard from '@/components/Retrieval/CCard.vue';

export default {
    components: { CToolbar, CCard  },
    props: {
        /**
         * The current state of the application's visualization.
         * Used to display relevant annotations
         */
        state: { type: Object, default: () => {} },
        /** The list of prior annotations */
        annotations: { type: Array, default: () => [] },
        /** Whether the list should be visible */
        viewing: { type: Boolean, default: false },
        activeAnnotation: { type: Object },
        replyTo: { type: Object },
        canReply: { type: Boolean, default: true },
        activeParent: { type: Object },
        answersToActive: { type: Array }
    },
    data () {
        return { 
            open: false,
            dragging: false,
            initialX: null,
            width: 0,
            eventListeners: [],
            unit: null,
            tag: null,
            loi: null,
            pattern: null,
            needle: null,
            aByPage: 5,
            numPages: 1,
        }
    },
    methods: {
        start (event) {
            this.initialX = event.clientX;
            this.dragging = true;
        },
        stop (event) {
            this.initialX = null;
            this.dragging = false;
        },
        move (event) {
            if (this.dragging) {
                this.width += this.initialX - event.clientX;
                this.initialX = event.clientX;
            }
        },
        sortByTag (tag) {
            this.tag = this.tag === tag ? null : tag;
        },
        sortByLoi (loi) {
            this.loi = this.loi === loi ? null : loi;
        },
        sortByPattern (pattern) {
            this.pattern = this.pattern === pattern ? null : pattern;
        },
        sortByUnit (unit) {
            this.unit = this.unit?.title === unit?.title ? null : unit;
        },
        selectAnnotation (annotation) {
            this.$emit('selectAnnotation', annotation);
            document.querySelector('.annotations-list').scrollIntoView({ behavior: 'smooth' });
        },
        removeSort (variable) {
            if (variable === 'selectAnnotation') this.$emit('selectAnnotation')
            else this[variable] = null;
        },
        isParent (annotation) {
            return annotation.id === (this.activeParent?.id || this.activeParent);
        },
        isChild (annotation) {
            return this.answersToActive?.map(a => a.id).includes(annotation.id);
        }
    },
    computed: {
        pages () { return Math.ceil(this.filteredAnnotations.length / this.aByPage); },
        selectedSubjects () {
            if (!this.activeAnnotation) return [];
            else {
                return this.$colvis.getAnnotationDataBinders(this.activeAnnotation);
            }
        },
        filteredAnnotations () {
            if (!this.needle || this.needle.length < 3) return this.annotations;
            else {
                const n = this.needle.toLowerCase();
                return this.annotations.filter(a => {
                    let haystacks = [];
                    let valid = false;
                    if (a.rawAnnotation) haystacks.push(a.rawAnnotation.text);
                    if (a.text) haystacks.push(a.text);
                    if (a.dataUnits) {
                        a.dataUnits.forEach(unit => {
                            if (!unit.aggregated) haystacks.push(unit.title);
                            else haystacks.push(...unit.units.map(subunit => subunit.title))
                        });
                    }
                    if (a.social?.author?.name) haystacks.push(a.social.author.name);
                    if (a.tags?.length) haystacks.push(...a.tags.map(t => t.name || t));

                    haystacks = haystacks.filter(h => h);

                    return haystacks.reduce(
                        (valid, haystack) => haystack.toLowerCase().includes(n) ? true : valid,
                        valid
                    );
                });
            }
        },
        sortedAnnotations () {
            const clone = [...this.filteredAnnotations];
            const state = this.$colvis.getVizState();
            clone.forEach(a => {
                const s = a.meta.state;
                let sim = 0;
                for(const prop in s) {
                    if (s[prop] === state[prop]) sim += 1;
                }
                a.sim = sim;
            })
            const sortFns = [];

            // Active annotation on top
            sortFns.push((a, b) => a.id === (this.activeParent?.id || this.activeParent) ? -1 : b.id === (this.activeParent?.id || this.activeParent) ? 1 : 0 );
            sortFns.push((a, b) => a === this.activeAnnotation ? -1 : b === this.activeAnnotation ? 1 : 0);
            sortFns.push((a, b) => this.answersToActive?.map(annotation => annotation.id).includes(a.id) ? -1 : this.answersToActive?.map(annotation => annotation.id).includes(b.id) ? 1 : 0 );

            // Then sort by level of interpretation
            if (this.loi) sortFns.push((a, b) => {
                const levels = this.loi.split(' ');
                function hasLevels (annotation, levels) {
                    let valid = true;
                    levels.forEach(l => valid = a.loi?.[l] ? valid : false);
                    return valid;
                }
                if (hasLevels(a, levels) && !hasLevels(b, levels)) return -1;
                else if (!hasLevels(a, levels) && hasLevels(b, levels)) return 1;
                else return 0;
            })

            // Then by patterns
            if (this.pattern) sortFns.push((a, b) => {
                if (a.patterns?.[this.pattern] && !b.patterns?.[this.pattern]) return -1;
                else if (!a.patterns?.[this.pattern] && b.patterns?.[this.pattern]) return 1;
                else return 0;
            })

            // Then sort by tag
            if (this.tag) sortFns.push((a, b) => {
                if (a.tags.map(t => t.name || t).includes(this.tag) && !b.tags.map(t => t.name || t).includes(this.tag)) return -1;
                else if (!a.tags.map(t => t.name || t).includes(this.tag) && b.tags.map(t => t.name || t).includes(this.tag)) return 1;
                else return 0;
            });

            // Then by unit
            if (this.unit) sortFns.push((a, b) => {
                if (a.dataUnits?.map(u => u.title).includes(this.unit.title) &&
                    !b.dataUnits?.map(u => u.title).includes(this.unit.title)) return -1;
                else if (!a.dataUnits?.map(u => u.title).includes(this.unit.title) &&
                    b.dataUnits?.map(u => u.title).includes(this.unit.title)) return 1;
                else return 0;
            });

            // Then by state
            sortFns.push((a, b) => {
                if (a.sim > b.sim) return -1;
                else if (a.sim < b.sim) return 1
                else return 0;
            });

            // Then by time
            sortFns.push((a, b) => a.meta.timestamp > b.meta.timestamp ? -1 : 1);

            clone.sort((a, b) => {
                let value = 1;
                for (let i = 0; i < sortFns.length; i++) {
                    value = sortFns[i](a,b);
                    if (value !== 0) return value;
                }
                return value;
            })
            return clone
        },
        pagedAnnotations () {
            return this.sortedAnnotations.filter((a, i) => i < this.aByPage * this.numPages);
        }
    },
    mounted () {
        this.eventListeners.push({ type: 'mousemove', handler: addEventListener('mousemove', this.move) });
        this.eventListeners.push({ type: 'mouseup', handler: addEventListener('mouseup', this.stop) });
    },
    destroyed () {
        this.eventListeners.forEach(e => removeEventListener(e.type, e.handler));
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.col-retrieval--viz
    position: fixed
    right: 0
    top: 0
    height: 100%
    min-width: calc(10rem + 10px)
    transition: transform .2s ease-in-out
    z-index: 100
    overflow-x: hidden
    overflow-y: auto
    display: flex
    flex-direction: column
    transform: translateX(100%)
    +container("light")
    box-shadow: $elevation2
    border-left: 2px solid white
    z-index: 100

    &.active
        transform: translateX(0)

    &__header
        +toolbar("light")

    &__handle
        position: fixed
        top: 50%
        left: 0
        transform: translate(-21px, -50%) rotate(90deg)
        background: #fff
        border-radius: 50% 50% 0 0
        width: 50px
        height: 10px
        box-shadow: $elevation2
        border: 1px solid rgba(0,0,0,.2)
        cursor: e-resize

.annotations-list
    display: flex
    flex-direction: column
    list-style: none
    padding: 0
    padding: 2rem

    &__item
        margin-top: 1rem

.flip-list-enter-active, .flip-list-leave-active 
    transition: opacity .5s

.flip-list-enter, .flip-list-leave-to 
    opacity: 0

.flip-list-move
    transition: transform 1s

.linked
    margin: 0

    > .card
        position: relative

    &.parent
        border-left: 5px solid cc("colvis-grey", "light")
        > .card
            transform: scale(.7)
            transform-origin: top left

    &.child
        border-right: 5px solid cc("colvis-grey", "light")

        &:last-of-type
            margin-bottom: 2rem

        > .card
            transform: scale(.7)
            transform-origin: bottom right

.more
    align-self: center
    color: white
    margin-bottom: 1rem
</style>