<template lang="pug">
    section.col-retrieval--viz(v-if="$colvis.isInit()")
        col-retrieval-viewer(v-show="activeUnits.length" :activeUnits="activeUnits" :init="$colvis.isInit()" :offsetTop="offsetTop")
        col-retrieval-list(
            :annotations="annotations" :activeAnnotation="activeAnnotation" :canReply="canReply"
            :state="state" :viewing="viewing" :replyTo="replyTo" :activeParent="activeParent"
            @highlight="selectUnit" @selectAnnotation="selectAnnotation" :answersToActive="answersToActive"
            @avatar="$emit('avatar', $event)" @close="$emit('close')" @reply="$emit('reply', $event)"
            @endorse="$emit('endorse', $event)" @funny="$emit('funny', $event)"
        )
            template(v-slot:card)
                slot(name="card")
</template>

<script>
import ColRetrievalViewer from '@/components/Retrieval/Viewer.vue'
import ColRetrievalList from '@/components/Retrieval/List.vue'
import CCard from '@/components/Retrieval/CCard.vue';
import CLogo from '../_generic/CLogo.vue';
import { strfy, hashCode } from '../../assets/utils';

export default {
    components: { ColRetrievalViewer, ColRetrievalList },
    props: {
        /**
         * The current state of the application's visualization.
         * Used to display relevant annotations
         * */
        state: { type: Object, default: () => {} },
        /** The list of prior annotations */
        annotations: { type: Array, default: () => [] },
        /** Whether the list should be visible */
        viewing: { type: Boolean, default: false },
        replyTo: { type: Object },
        canReply: { type: Boolean, default: true },
        openWith: { type: Object },
    },
    data () {
        return {
            activeAnnotation: null,
            activeParent: null,
            answersToActive: [],
            activeUnits: []
        }
    },
    methods: { 
        selectUnit (unit) {
            if (!unit) this.activeUnits = [];
            else this.activeUnits.push(unit);
        },
        selectAnnotation (annotation) {
            if (!annotation) return this.activeAnnotation = null;
            if (!this.annotations.includes(annotation)) {
                annotation = this.annotations.filter(a => a.id === annotation.id)[0]; // ToDo: Find another way
            }
            if (this.activeAnnotation === annotation) this.activeAnnotation = null;
            else this.activeAnnotation = annotation;
        }
    },
    mounted () {
        if (this.openWith) {
            this.selectAnnotation(this.openWith);
            this.$emit('openedWith');
        }
    },
    watch: {
        activeAnnotation () {
            const active = this.activeAnnotation;
            this.activeUnits = [];
            if (active) {
                active.dataUnits?.forEach(d => {
                    this.selectUnit(d);
                });
                this.$emit('updateState', active.meta.state);

                if (active.replyTo) {
                    this.activeParent = this.annotations.filter(a => a.id === (active.replyTo?.id || active.replyTo))[0];
                } else this.activeParent = null;
                this.answersToActive = this.annotations.filter(a => active.id === (a.replyTo?.id || a.replyTo));
            } else {
                this.activeParent = null;
                this.answersToActive = [];
            }
        },
        openWith () {
            if (this.openWith) this.selectAnnotation(this.openWith)
            this.$emit('openedWith');
        }
    }
}
</script>
