<template lang="pug">
    span.chip(:class="{ inactive, small }" @mouseover="$emit('mouseover', $event)" @mouseout="$emit('mouseout', $event)" @click.stop="$emit('click', $event)") 
        slot(name="prepend")
        span(v-if="text") {{ text }}
        slot
        slot(name="append")
        small.chip__button(v-if="closeable" @click="$emit('close')") x
</template>

<script>
export default {
    props: {
        text: {
            type: String
        },
        closeable: {
            type: Boolean,
            default: false
        },
        inactive: {
            type: Boolean,
            default: false
        },
        small: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_variables'

.chip
    border-radius: 3px
    background: cc("blue")
    padding: .2rem
    color: white
    display: inline-block
    margin: 0 .2rem .2rem 0

    &:hover
        background: cc("blue", "light")
        cursor: pointer

    &.inactive
        background: cc("grey", "dark")

        &:hover
            background: cc("grey")
            cursor: initial

    &.small
        font-size: smaller
        padding: .1rem

    &__button
        display: inline-block
        width: 1rem
        height: 1rem
        line-height: 1rem
        border-radius: .5rem
        text-align: center
        background-color: cc("blue", "dark")

        &:hover
            cursor: pointer
            background-color: cc("blue", "darker")
</style>