<template lang="pug">
    svg(viewBox="0 0 24 24" :width="size" :height="size" :style="{ fill: color, stroke: color, 'stroke-width': 0 }" @click.stop="$emit('click', $event)")
        line(x1="8" x2="16" y1="12" y2="12" :style="{ 'stroke-width': 8, opacity: .5 }")
        circle(cx="5" cy="12" r="5")
        circle(cx="19" cy="12" r="5")
</template>

<script>
export default {
    props: {
        size: {
            type: Number,
            default: 32
        },
        color: {
            type: String,
            default: '#616979'
        }
    }
}
</script>