<template lang="pug">
    svg(viewBox="0 0 124 124" :width="size" :height="size" :style="{ fill: color, stroke: color, 'stroke-width': 0 }" @click.stop="$emit('click', $event)")
        circle(cx="61.632" cy="61.632" r="61.632" :style="{ opacity: .5 }")
        circle(cx="61.632" cy="19.609" r="17.609")
        circle(cx="61.632" cy="103.655" r="17.609")
        circle(cx="61.632" cy="61.632" r="17.609")
        circle(cx="103.655" cy="61.632" r="17.609")
        circle(cx="19.609" cy="61.632" r="17.609")
</template>

<script>
export default {
    props: {
        size: {
            type: Number,
            default: 32
        },
        color: {
            type: String,
            default: '#616979'
        }
    }
}
</script>