<template lang="pug">
    i.colvis-icon(:class="iconClass")
        slot Icon
        small.colvis-icon__message(v-if="message") {{ message }}
</template>

<script>
const classes = {
    error: 'colvis-color--error',
    warning: 'colvis-color--warning',
    success: 'colvis-color--success',
    default: 'colvis-color'
};

export default {
    props: {
        message: {
            type: String
        },
        type: {
            type: String
        }
    },
    computed: {
        iconClass () {
            const c = classes[this.type];
            if (!c) return classes.default;
            else return c;
        }
    }
}
</script>

<style lang="sass" scoped>
.colvis-icon
    border-radius: 16px
    display: inline-block
    height: 32px
    width: 32px
    line-height: 32px
    font-size: 16px
    text-align: center
    font-style: normal
    position: relative

    &:hover .colvis-icon__message
        display: block

    &__message
        display: none
        position: absolute
        pointer-events: none
        background-color: #696969
        padding: .25rem
        z-index: 100
        color: white
        bottom: 0
        left: 50%
        transform: translate(-50%, 100%)
</style>