<template lang="pug">
    div.loading
        div.loading__bar
</template>

<style lang="sass" scoped>
@import '../../assets/styles/generic/_animations'
@import '../../assets/styles/generic/_variables'

.loading
    height: 10px
    width: 100%
    position: relative

    &__bar
        height: 100%
        background: sc('blue')
        position: absolute
        left: 0
        top: 0
        animation: col-loading ease-out 1.5s infinite
</style>