<template lang="pug">
    svg(viewBox="0 0 263 263" :width="size" :height="size" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;")
        g(id="Information-Visualization" serif:id="Information Visualization")
            path(d="M180.032,157.426l-20.675,0l0,-20.678l20.675,0l0,20.678Zm-81.778,-50.127c-8.924,0 -16.185,-7.264 -16.185,-16.189c0,-8.923 7.261,-16.188 16.185,-16.188c8.928,0 16.188,7.265 16.188,16.188c0,8.925 -7.26,16.189 -16.188,16.189m16.188,64.313c0,8.923 -7.26,16.188 -16.188,16.188c-8.924,0 -16.185,-7.265 -16.185,-16.188c0,-8.925 7.261,-16.183 16.185,-16.183c8.928,0 16.188,7.258 16.188,16.183m39.403,-53.681l-21.097,-21.093c0.31,-1.868 0.511,-3.773 0.511,-5.728c0,-19.299 -15.702,-35.004 -35.005,-35.004c-19.3,0 -35.001,15.705 -35.001,35.004c0,16.239 11.131,29.891 26.151,33.827l0,12.854c-15.02,3.934 -26.151,17.582 -26.151,33.821c0,19.299 15.701,35.003 35.001,35.003c19.303,0 35.005,-15.704 35.005,-35.003c0,-15.838 -10.581,-29.231 -25.039,-33.534l0,-13.428c6.149,-1.831 11.573,-5.318 15.802,-9.931l16.519,16.517l0,45.006l58.307,0l0,-58.311l-45.003,0Z" :style="{ fill: color, 'fill-rule': 'nonzero' }")
            path(d="M219.458,219.458l-176.817,0l0,-176.815l176.817,0l0,176.815Zm-219.458,42.643l262.101,0l0,-262.101l-262.101,0l0,262.101Z" :style="{ fill: color, 'fill-rule': 'nonzero' }")
</template>

<script>
export default {
    props: {
        size: {
            type: Number,
            default: 32
        },
        color: {
            type: String,
            default: '#f32885'
        }
    }
}
</script>