<template lang="pug">
    transition(name="fade")
        aside.colvis-message(v-if="value" :class="messageClass")
            header.colvis-message__header
                span {{ value.type }}
                span.colvis-message__header__close(@click="dismiss") close message
            div.colvis-message__main
                p {{ value.content }}
</template>

<script>
const classes = {
    error: 'colvis-message--error',
    warning: 'colvis-message--warning',
    success: 'colvis-message--success',
    default: ''
};

export default {
    props: {
        value: {
            type: Object
        }
    },
    computed: {
        messageClass () {
            const c = classes[this.value.type];
            if (!c) return classes.default;
            else return c;
        }
    },
    methods: {
        dismiss () {
            this.$emit('input', null);
        }
    }
}
</script>

<style lang="sass">
.colvis-message
    padding: .25rem
    color: white
    background-color: blue

    &--error
        background-color: #ff5252
    &--warning
        background-color: yellow
    &--success
        background-color: green    

    &__header
        display: flex
        justify-content: space-between
        margin-bottom: 1rem
</style>