<template lang="pug">
    svg(viewBox="0 0 187 124" :width="size" :height="size" :style="{ fill: color }" @click.stop="$emit('click', $event)")
        path(d="M17.609,61.632c0,-46.755 107.173,-61.632 107.173,-61.632l0,123.264c0,0 -107.173,-14.877 -107.173,-61.632Z" :style="{ opacity: .5 }")
        circle(cx="17.609" cy="61.632" r="17.609")
        circle(cx="124.782" cy="61.632" r="61.632")
</template>

<script>
export default {
    props: {
        size: {
            type: Number,
            default: 32
        },
        color: {
            type: String,
            default: '#616979'
        }
    }
}
</script>