<template lang="pug">
    svg(
        :width="size" :height="size" viewBox="0 0 24 24"
        :style="{ 'vertical-align': 'middle', fill: color }" 
        @click.stop="$emit('click', $event)"
    )
        path(d="M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M13,9.94L14.06,11L15.12,9.94L16.18,11L17.24,9.94L15.12,7.82L13,9.94M8.88,9.94L9.94,11L11,9.94L8.88,7.82L6.76,9.94L7.82,11L8.88,9.94M12,17.5C14.33,17.5 16.31,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5Z")
</template>

<script>
export default {
    props: {
        color: { type: String, default: 'white' },
        size: { type: Number, default: 24 },
    }
}
</script>