<template lang="pug">
    svg(
        :width="size" :height="size" viewBox="0 0 24 24"
        :style="{ 'vertical-align': 'middle', fill: color }" 
        @click.stop="$emit('click', $event)"
    )
        path(d="M10,9V5L3,12L10,19V14.9C15,14.9 18.5,16.5 21,20C20,15 17,10 10,9Z")
</template>

<script>
export default {
    props: {
        color: { type: String, default: 'white' },
        size: { type: Number, default: 24 },
    }
}
</script>