<template>
    <v-app>
        <v-app-bar app>
            <v-toolbar-title class="headline text-uppercase">
            <span>Vasco + ColVis</span>
            <span class="font-weight-light">Example</span>
            </v-toolbar-title>
            <v-spacer/>
            <v-btn @click="annotating = !annotating">Annotate</v-btn>
            <v-btn @click="viewing = !viewing">Viewing</v-btn>
            <v-switch v-model="loading" label="loading" />
            <v-spacer/>
        </v-app-bar>

        <v-content>
            <v-layout column align-center>
                <v-flex md6>
                    <div id="vis"></div>
                    <ColInputMain 
                        :annotating="annotating" :previousTags="['bidule', 'truc']" :state="state" :previousUnits="previousUnits" :loading="loading" :replyTo="replyTo"
                        @close="annotating = false" @submittingAnnotation="alertAnnotation" @stopReplying="replyTo = null"
                    />
                    <ColRetrievalViz :viewing="viewing" :annotations="annotations" :replyTo="replyTo" @updateState="updateState" @endorse="endorse" @funny="funny" @avatar="doSomething" @reply="replyTo = $event">
                        <!--<template v-slot:card>
                            <v-toolbar dense flat>
                                This is the extension.
                            </v-toolbar>
                        </template>-->
                    </ColRetrievalViz>
                </v-flex>
                <v-flex md6>
                    <v-switch v-model="dummyState1" label="Dummy state 1"/>
                    <v-switch v-model="dummyState2" label="Dummy state 2"/>
                    <v-switch v-model="dummyState3" label="Dummy state 3"/>
                </v-flex>
                <v-flex md6>
                    <ColRetrievalMain :annotations="annotations" :replyTo="replyTo" @endorse="endorse" @funny="funny" @avatar="doSomething">
                    </ColRetrievalMain>
                </v-flex>
            </v-layout>
        </v-content>
    </v-app>
</template>

<script>
import vlSpecs from './assets/vega-scatterplot.json';
import colvisSpecs from './assets/colvis-specs.json';
import { annotations } from './assets/prior-annotations.json';

export default {
    data() {
        return {
            init: false,
            annotating: false,
            viewing: false,
            annotations: annotations,
            loading: false,
            previousUnits: [{"role":"subject", "title": "two random cars", "id":-229606214,"natureId":"@/n/car","aggregated":true,"units":[{"role":"subject","id":"buick skylark 320-15-1970-01-01","natureId":"@/n/car","aggregated":false,"units":[],"title":null},{"role":"subject","id":"ford galaxie 500-15-1970-01-01","natureId":"@/n/car","aggregated":false,"units":[]}]}],
            dummyState1: false,
            dummyState2: false,
            dummyState3: true,
            replyTo: null
        }
    },

    methods: {
        alertAnnotation(annotation) {
            this.annotations.push(annotation);
        },
        updateState(state) {
            console.log('updating state')
            Object.assign(this, state)
        },
        endorse({ social }) {
            if (social.endorsed) {
                social.endorsed = false;
                social.stats.endorsed -= 1;
            } else {
                social.endorsed = true;
                social.stats.endorsed += 1;
            }
        },
        funny({ social }) {
            if (social.funny) {
                social.funny = false;
                social.stats.funny -= 1;
            } else {
                social.funny = true;
                social.stats.funny += 1;
            }
        },
        doSomething(user) {
            console.log(user)
        } 
    },

    computed: {
        state () {
            const { dummyState1, dummyState2, dummyState3 } = this;
            return { dummyState1, dummyState2, dummyState3 };
        }
    },

    async mounted() {
        window
            .vegaEmbed(
                '#vis',
                vlSpecs,
                { renderer: 'svg' }, // important: the visualization must be rendered as SVG
            )
            .then(async (view) => {
                const data = await fetch('https://assets.anubisarchives.com/5s/5s-data-pj.json').then(r => r.json())
                const characters = Array.from(new Set(data.map(d => d.character)))
                const sessions = Array.from(new Set(data.map(d => d.id)))
                const scenarios = Array.from(new Set(data.map(d => d.scenario)))
                this.$colvis.initialize({ 
                    specs: colvisSpecs,
                    staticData: {
                        '@/n/character': characters,
                        '@/n/session': sessions,
                        '@/n/scenario': scenarios
                    },
                    vizState: this.state,
                    endorsement: true
                });

                console.log(this.$colvis.getEntities())
            });
    }
};
</script>
